[2017-10-25 12:43] ghost opened #66 "OneDrive seems to lose Timezone of LastModified on Shared items."
Hey,

I'm currently writing a code to sync the shared items of a user OneDrive account into our Database.

We have shared an item on 12:34 PM Israel Standard Time, but when we get the information about the shared item over Dotnet Graph API we get it with the incorrect time.
As it seems the timezone is not specified when converted to `DateTimeOffset`, therefore the given "LastModifedDateTime" is in

[2017-10-25 18:28] MIchaelMainer commented on #66
Hello. Thank you for bringing this to our attention. Do you have Charles or some other capture tool? If so, can you provide a sanitized capture of the request and response?

From: Hagai Bloch [mailto:notifications@github.com]
Sent: Wednesday, October 25, 2017 5:43 AM
To: microsoftgraph/msgraph-sdk-dotnet <msgraph-sdk-dotnet@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject

[2017-10-29 09:47] ghost commented on #66
Thank you for your response @MIchaelMainer,
I took me longer than expected to get the information due to problems with Charles.
I used Fiddler 4 on a Win 10 machine to capture the traffic.

## Request:
[code]

## Response
[code]

As seen above, my Example is the Drive Item id "0136T2DRCB72WHZ643IBBKFZSMFTU5O7QW".
Somehow, it was fixed for this file.
The Last Modified time fits, no upgrade and no a

[2017-11-07 03:07] MIchaelMainer commented on #66
@hgbloch Thank you for sharing this. There is something strange going on here. I'm going to pass this information on to the folks that own the service side of this.

[2018-09-06 12:00] ghost commented on #66
Hey @MIchaelMainer, the problem seems to be back (it was working for a long time)

[2018-09-06 17:46] MIchaelMainer commented on #66
@hgbloch I'll escalate this again. Thank you.

[2018-10-09 20:18] sergioacortes opened #69 "Sharepoint list item fields update using the c# Graph API"
Hi,

I am trying to use this library to update the fields of a Sharepoint list item, but I get the a ServiceException

Microsoft.Graph.ServiceException: Code: generalException
Message: An unspecified error has occurred. Inner error at Microsoft.Graph.HttpProvider+<SendAsync>d__19.MoveNext () [0x002e9]

This is the code I am using, I found on an issue marked as solved.

var fields = new FieldValueS

[2018-10-09 20:20] sergioacortes commented on #69
![image to microsoft](https://user-images.githubusercontent.com/5175892/46696032-7ee13980-cc11-11e8-9431-5f9b70630755.png)

[2018-10-11 18:13] MIchaelMainer commented on #69
902787 - Can you provide us with the sanitized request and response? I'd like to understand whether this is a client or service issue.

[2018-12-18 21:50] MIchaelMainer commented on #69
I deleted the comment as the attachment contained PII. This is certainly a service issue or limitation. Have you gotten past this issue?

[2019-01-23 19:06] ajweber opened #17 "DriveItemRequestBuilder.CreateUploadSession(DriveItemUploadableProperties) fails"
As documented in example test method, part of the source was commented-out because it fails the test (questionable whether this is a valid test suite here?), OneDriveTests.OneDriveUploadLargeFile, it is currently not possible to specify basic properties when uploading a new DriveItem (file).

As a partial workaround, one can update the Description after successful creation of the document.  Howeve

[2019-01-24 17:09] ajweber commented on #17
Also, without being able to provide DriveItemUploadableProperties to the UploadSession, there is no way to override the default ConflictBehavior.  Attempting to upload two documents with the same name results in OneDrive versioning the original document, which is not the behavior some would expect (including me).

[2019-01-25 19:39] peombwa commented on #17
Thank you for your question about Microsoft Graph. I believe this issue is related to this [StackOverflow  question](https://stackoverflow.com/questions/54354131/what-is-driveitemrequest-expecting-as-a-parameter-in-updateasync) - [Description ](https://docs.microsoft.com/en-us/graph/api/driveitem-createuploadsession?view=graph-rest-1.0) property only works with Onedrive personal.

If the answer do

[2019-01-25 20:05] ajweber commented on #17
Have you tested this at all?  I did not pass a Description in the DriveItemUploadableProperties object.  How did you deduce it was related to that question?

In fact, I passed only the Name, and added the "@microsoft.graph.conflictBehavior" as AdditionalData.  (I would like to pass fileSystemInformation per the test here in GitHub that fails as well.)

It throws an exception.

[2019-01-25 21:36] darrelmiller commented on #17
@ajweber We currently do not have an devs allocated to working on these capabilities.  We will review the tests and try and get a better understanding of why these test lines were commented out.    We sometimes run into situations where the service teams produce metadata descriptions that are not supported by the code generation infrastructure.  Thank you for bringing this to our attention.  This

[2019-02-06 23:19] peombwa commented on #17
This is confirmed as a service bug and the issue has been escalated to the appropriate service team for a fix.

**Current Behavior**
Adding annotations to DriveItemUploadableProperties.AdditionalData works for personal OneDrive but throws InvalidRequest exception for OneDrive for business  :
**Code: invalidRequest
Message: Annotations must be specified before other elements in a JSON object**

**I

[2019-02-08 17:14] ificator commented on #17
Thanks @pwombwa, the ordering of instance annotations in OneDrive for Business is a known issue caused by the version of the OData stack that's being used. We're working on fixing it, but don't have a timeline we can share.

The only work around I can think of would be to define specific properties `DriveItemUploadableProperties` for the attributes, and override the name as appropriate:

[code]

[2019-02-18 18:40] tipa opened #67 ""ItemNotFound" when uploading file"
using Nuget package 1.12.0 in my UWP app

 ### Expected behavior
I am able to upload a file to OneDrive (into the apps app folder).

### Actual behavior
An excpetion is thrown (see below) - but only sometimes!
I feel like it mostly (or only) happens the first time the app tries to upload something to its (newly created) app folder. It usually (if not always) succeeds on a second attempt.

### Step

[2019-02-19 19:31] ajweber opened #68 "Drive.SharedWithMe does not return items shared from outside your org"
Some details (and note comment) in StackOverflow here: https://stackoverflow.com/questions/54714498/get-me-drive-sharedwithme-returns-empty-list

Basically, it appears that SharedWithMe only returns a subset of actual items shared with the currently authenticated user: Only those shared from another user within the same organization.

Easy to test:  have another user, from a different "organizatio

[2019-02-21 08:47] mic1983 opened #87 "On create event the reminder not working"
Hi,
When creating events if I set
$e->setReminderMinutesBeforeStart(15);
and/or
$e->setIsReminderOn(true);
the reminder of the event is disabled in result response. The same is valid when i try to create it in https://developer.microsoft.com/graph/graph-explorer/

If this two properties are not set the reminder is On and before 15 minutes then start of the event.

How can this be fixed?

Thanks
[A

[2019-02-25 00:22] arcadiogarcia opened #70 "OneNote section includes deleted page"
Please provide the following (and please check them off the list with [x]) before submitting this issue:
- [x] Expected behavior. Please provide **links to the specific [Microsoft Graph documentation](https://developer.microsoft.com/en-us/graph/docs/concepts/overview)** you used to determine the expected behavior.
- [x] Actual behavior. Provide error codes, stack information, and a [Fiddler](http:

[2019-02-25 00:37] arcadiogarcia commented on #70
I'm experimenting a bit more with the Graph explorer and looks like if I do
`GET https://graph.microsoft.com/v1.0/me/onenote/pages/<PAGEID>`
It actually returns some metadata (id, title, date modified...), but if I try to do
`DELETE https://graph.microsoft.com/v1.0/me/onenote/pages/<PAGEID>`
it tells me
[code]

[2019-02-25 00:42] arcadiogarcia commented on #70
Ok, I think I found out what is happening, I followed the `oneNoteClientUrl` to see what would the OneNote app do (since according to it the page is already deleted), and it brought me to a special "Deleted pages" section. According to it:

![image](https://user-images.githubusercontent.com/9416356/53308023-ce3ba580-3852-11e9-8a21-34e64a4e9479.png)

So it would seem that the page is stuck in that

[2019-02-28 18:24] MIchaelMainer commented on #70
@billpetrakos Can you answer this question about how to determine whether a page has been deleted with the API?

[2019-03-01 09:42] manjushm-microsoft commented on #70
As you said, it seems like the problem is that the deleted page is in that special "Deleted pages" section. I will try to fix our API for this scenario. Meanwhile, you can restore the page and then delete it from OneNote Online or using our Delete-page API at https://docs.microsoft.com/en-us/graph/api/page-delete?view=graph-rest-1.0

That should fix your Pages query

[2019-03-01 17:37] MIchaelMainer commented on #70
@manjushm-microsoft Thank you for the response. Can you update your internal tracking item with a link to this issue so that you can follow up here when this is resolved?

[2019-03-04 11:38] kiefergrylls opened #71 "Add a document library tab in teams, not working"
Please provide the following (and please check them off the list with [x]) before submitting this issue:
- [x] Expected behavior. Please provide **links to the specific [Microsoft Graph documentation](https://developer.microsoft.com/en-us/graph/docs/concepts/overview)** you used to determine the expected behavior.
- [x] Actual behavior. Provide error codes, stack information, and a [Fiddler](http:

[2019-03-04 17:59] MIchaelMainer commented on #71
This appears to be a service issue since you can use this request to create other tabs. @nkramer do you have information on this scenario?

[2019-03-07 21:28] dinhnguyen92 opened #72 "GenericFileOpenError from Excel Graph API"
We're using the .NET Microsoft Graph client library version 1.12.0 to read and write Excel spreadsheets in Office 365.

For about at least 2 weeks, we have been receiving GenericFileOpenError from the API whenever we attempt to open and read the used range of Excel spreadsheets in the Office 365 account of one particular user. All spreadsheets in this user's account are affected. When we uploaded

[2019-03-07 21:32] MIchaelMainer commented on #72
Can you repro it and capture a request and response using Fiddler? This is not a client library issue. Once I have a request and response, I'll pass this on.

[2019-03-11 10:24] mic1983 commented on #87
Can anyone help?

[2019-03-11 21:10] MIchaelMainer commented on #87
Can you provide the request that you are sending? I'm not seeing the behavior that you describe. If I set ReminderMinutesBeforeStart to 20, I get a response that specifies that the reminder is set. It is expected default behavior for the reminder to be set to 15 minutes before the meeting if isReminderOn is not set to false.

### Request body where the reminder is set

[code]

### Part of the resp

[2019-03-13 12:41] phillipharding commented on #71
Today I tried adding a Document Library tab to a Team Channel using the **v1.0** and **beta** endpoints using the request body below - creating Tabs of other kinds (Stream, Forms, Site etc) works fine.
[code]
Which returns a **GeneralException** response
[code]

[2019-03-13 19:50] nkramer commented on #71
Sounds like same issue as [https://github.com/microsoftgraph/microsoft-graph-docs/issues/4005#issuecomment-472407510](https://github.com/microsoftgraph/microsoft-graph-docs/issues/4005#issuecomment-472407510)

[2019-03-14 03:26] nakamorichi opened #7 "Error codes do not match"
### Expected behavior

`GraphError::isError` should match error codes defined in `enum GraphErrorCodes` with the codes returned by the API.

Reference: https://docs.microsoft.com/en-us/graph/errors#code-property

### Actual behavior

The method fails to match the error codes. For example, following request:

[code]

The above request tries to fetch a non-existent event from an existing calendar. T

[2019-03-14 07:09] mic1983 commented on #87
Hi check this screenshot from Graph Explorer
I use your request

![Screenshot from 2019-03-14 09-08-39](https://user-images.githubusercontent.com/16517518/54337841-d2c8d200-4638-11e9-8223-9b60dc19266a.png)

Thanks

[2019-03-19 18:43] MIchaelMainer commented on #87
If you open that event in OWA, does it show a reminder? I wonder if your calendar assistant settings disables the reminder. This is either a setting on the mailbox, the mailboxes organization, or a bug in the Outlook API service. Can you set a reminder in OWA or Outlook and see the reminder via Graph Explorer?

[2019-03-20 07:30] mic1983 commented on #87
Thanks for answer.
No if i open it form OWA the reminder is not set.
If i create event with reminder with OWA and when i read it from api i get this result - the reminder is on and before 15 minutes
![Screenshot from 2019-03-20 09-29-43](https://user-images.githubusercontent.com/16517518/54666577-c3db9700-4af2-11e9-8e71-9f6ec95b1f11.png)

[2019-03-25 18:08] sadsocket commented on #69
I'm actually experiencing the same issue trying to update a multichoice list item, like so.  "Tags" is a List<string>:

                await graphClient.Sites[SPUrl + ":"].Sites[SpPath + ":"].Lists[libId].Items[item.SharepointIds.ListItemId].Request().UpdateAsync(new ListItem()
                {
                    Fields = new FieldValueSet
                    {
                        Additiona

[2019-03-26 11:43] figgsoftware commented on #72
We are experiencing exactly the same and I have the response:) @MIchaelMainer
{
  "error": {
    "code": "GenericFileOpenError",
    "message": "",
    "innerError": {
      "request-id": "93b6f2d0-a069-4e99-b6fa-5920b5fb2223",
      "date": "2019-03-26T09:56:39"
    }
  }
}

The request is: https://graph.microsoft.com/v1.0/drives/b!CgsXyjlrJ0S32Yd0qNkoYPP-7w07kSpPj9kE5GiHsoarCZS-VgkfTrI3Sl7triiz/

[2019-03-26 16:19] mtmjansen opened #73 "Group Members method vs. contacts"
Please provide the following (and please check them off the list with [x]) before submitting this issue:
- [X] Expected behavior. Please provide **links to the specific [Microsoft Graph documentation](https://developer.microsoft.com/en-us/graph/docs/concepts/overview)** you used to determine the expected behavior.
- [X] Actual behavior. Provide error codes, stack information, and a [Fiddler](http:

[2019-03-26 16:29] MIchaelMainer commented on #73
@mtmjansen Crafted issues get immediate responses. Thank you for the thorough repro instructions! The service is neither in sync with the documentation nor the metadata.

[2019-03-26 16:44] MIchaelMainer commented on #73
I think the workaround will be to:

1. Get the HttpRequestMessage from `client.Groups[groupId].Members.Request().Select("id").Top(pageSize).GetHttpRequestMessage()`
2. Create `IGroupMembersCollectionWithReferencesPage2 : ICollectionPage<Entity>` to deserialize the response. We should take this on if the Contact entity is intentional in that response. I will follow up..
3. Send request, get respons

[2019-04-02 15:27] mtmjansen commented on #73
ended up writing ...

- IEntitiesCollectionWithReferencesPage
- EntitiesCollectionWithReferencesPage
- JsonConverter<EntitiesCollectionWithReferencesPage> including the NextPageRequest
- GetAsync method to process the httpRequestMessage

[2019-04-05 12:05] Imari91 commented on #71
![image](https://user-images.githubusercontent.com/11196217/55626370-a887b180-57ab-11e9-8eed-9c990e535896.png)

This was driving me nuts. As mentioned above, the service is working for any other kind of tabs, but not for document librarys when using ActiveDirectoryOAuth authentication. I have tested directly in the Graph Explorer with my User account, and it does work.
Any update?

[2019-04-12 12:42] hadness commented on #71
I confirm also that this is still not working with AppPermission.

FOR INFORMATION : with Delegated Permission it works for me (from ms Flow)

[2019-04-18 18:33] POFerro opened #74 "DriveItem copy between sites fails for folders larger than 10MB"
Hi,

I'm trying to copy a folder between two Microsoft Teams sharepoint sites using the copy driveItem method described in:
https://docs.microsoft.com/en-us/graph/api/driveitem-copy?view=graph-rest-1.0
My code looks something like this:
`var driveItem = await graph.Drives[sourceItem.ParentReference.DriveId]
.Items[sourceItem.Id]
 .Copy(sourceItem.Name + "_1", new ItemReference { DriveId = targetPa

[2019-04-24 19:28] darrelmiller commented on #74
Sorry for the inconvenience.  We are investigating this issue and will provide feedback as soon as we know more.

[2019-04-26 21:30] MIchaelMainer commented on #74
@ificator Can you provide some insight into these x-site copy errors?

[2019-04-27 02:53] ificator commented on #74
If you provide a value of `null` for the `name` property are things better? The majority of move/copy happens asynchronously - the one exception is when the source and target have different names. If that's the case it falls back to the synchronous mechanism, which is limited to 50MiB and theoretically could generate timeouts in Graph for lower sizes (which may explain your other failure case).

T

[2019-04-29 21:13] MIchaelMainer commented on #74
For the <10MB scenario and the explanation of why the driveItem from the response is null, it is because the .Net client currently doesn't make the status check request and therefore never gets the final redirect to the driveItem. We currently don't support a 202 + Location header - a status check handler would be helpful here.

Per our client's current state, you'd implement something like this:

[2019-04-30 16:20] ificator commented on #74
The `notAllowed` definitely is. I was assuming the `unknownError` was actually some kind of `504` from Graph. But if we have a `request-id` we can drill in further. If there's no `request-id` that's another pretty good indication that some kind of timeout was involved.

[2019-04-30 17:32] MIchaelMainer commented on #74
@POFerro Can you provide the entire sanitized response for the `unknownError` including both header and body?

[2019-05-02 12:34] POFerro commented on #74
Hi @MIchaelMainer,
Here's the complete response for the test with 18MB folder:
HTTP/1.1 403 Forbidden
Cache-Control: private
Transfer-Encoding: chunked
Content-Type: application/json
request-id: 6af2b827-a638-4404-89da-9d7e5f29155c
client-request-id: 6af2b827-a638-4404-89da-9d7e5f29155c
x-ms-ags-diagnostic: {"ServerInfo":{"DataCenter":"North Europe","Slice":"SliceC","Ring":"3","ScaleUnit":"002","R

[2019-05-02 14:03] tipa commented on #67
Any news? This issue is still present for some users.

[2019-05-02 15:41] ificator commented on #74
The 12MiB failure is definitely an example of a timeout. The copy will likely ultimately succeed, but Graph has given up waiting for it and returns a `504 Gateway Timeout`. The only workaround I can think of currently is to make it a two stage process:
1. Copy "folder1\file.txt" to "folder2\file.txt". Since the name isn't changing this will trigger the truly asynchronous flow.
2. Move "folder2\fil

[2019-05-02 17:40] MIchaelMainer commented on #67
You mentioned that this fails after creating a new folder. How long after the folder is created do you attempt to upload an item to it? I've found in the past that I've had to delay some requests that target OneDrive as there is latency between when the call to create an item (or folder) completes and being able to access it.

I suggest that you do one of the following after you create the folder:

[2019-05-02 21:07] tipa commented on #67
Yes, I was able to diminish the issue for nearly all users by waiting 1-2 secs after initial login before creating new files.
However, today a user had recurring problems with this error, even after multiple tries which were several minutes apart. Maybe it was just a OneDrive hickup as for 99.9% of the users, the delay seems to work.

[2019-05-02 22:08] darrelmiller commented on #67
@tipa It is great to hear that you were able to minimize the issue.  I believe we may be able to help here.  Also, there are some fairly major outages happening across Azure and M365 today, so issues you see today may be service related.

[2019-05-03 08:47] NLLAPPS opened #6 "Search within limited scope of AppRoot does not work"
Hi, my app only requests AppFolder/Special App Root permission. Searching with full permission works fine.

For example:

`https://graph.microsoft.com/v1.0/me/drive/root/microsoft.graph.search(q='test')`

Finds the file. However,

`https://graph.microsoft.com/v1.0/me/drive/special/approot/microsoft.graph.search(q='test')`

Does not. It returns empty collection as below

`
{
    "@odata.context": "

[2019-05-03 13:37] kiefergrylls commented on #71
Any news on Microsoft side ?

[2019-05-03 14:05] POFerro commented on #74
Hi @ificator,
In fact what I really want is to make a copy and not change the name, I tried sending the same name or null in the name parameter but it does nothing, no error but no copy either :(.

[2019-05-06 15:12] ificator commented on #74
Ah, we're tracking a similar issue that manifests as a failed copy - does https://github.com/OneDrive/onedrive-api-docs/issues/980 sound like what you see when you don't provide the name at all? If so, the good news is that we understand what's going on and should hopefully have a fix soon.

[2019-05-08 04:37] NakulSabharwal commented on #6
@NLLAPPS Thanks for reporting this issue.
I am not able to repro this issue, I tried -
https://graph.microsoft.com/v1.0/me/drive/special/approot/microsoft.graph.search(q='f1')
https://graph.microsoft.com/v1.0/me/drive/root/microsoft.graph.search(q='f1')
f1 being name of a file in my drive. These both queries are able to find my file.
reference - https://docs.microsoft.com/en-us/graph/api/driveitem

[2019-05-08 07:18] NLLAPPS commented on #6
Are you sure you have removed permissions and used only `"Files.ReadWrite.AppFolder", "User.Read"` ?

Graph Explorer requests all permissions and search works fine if you request access to whole drive.

[2019-05-10 02:31] NakulSabharwal commented on #6
@darrelmiller Can you point someone from OneDrive's search for this endpoint related query ?

[2019-05-10 02:41] NakulSabharwal commented on #7
@darrelmiller Can you point this issue to respective endpoint team ?

[2019-05-13 22:25] MIchaelMainer commented on #70
@manjushm-microsoft Has the API been fixed for this scenario?

[2019-05-13 22:50] manjushm-microsoft commented on #70
Sorry, we actually "Won't Fix"ed it since there is a work around for this

[2019-05-14 02:47] arcadiogarcia commented on #70
@manjushm-microsoft What is the workaround? If it is the one you mentioned earlier in the thread it works for testing but it is not a valid workaround for real scenarios, since the end user is the one that has to go through the page restoration steps.

[2019-05-14 06:18] tipa commented on #67
Another user reports having that issue repeatedly. Anything I can ask him to do in order to debug the issue?

[2019-05-14 06:25] MIchaelMainer commented on #67
@tipa Are you able to repro? What is different (if any) about this user's use case? Is the user using the same UWP app as the other users?

[2019-05-14 06:57] tipa commented on #67
He uses the exact same app as my other users. As I said, it works fine for 99% of my users. Unfortunately, I am not able to reproduce personally :(
I'll put in the stack traces again as they looks slightly different than the original one:

Xamarin.Android:
`Microsoft.Graph.ServiceException: Code: itemNotFound Message: Item does not exist Inner error at Microsoft.Graph.HttpProvider.SendAsync (Syste

[2019-05-20 12:31] ordinaryorange commented on #17
I can confirm the same error when trying to `CreateUploadSession` with the `@microsoft.graph.conflictBehavior` annotation set in `AdditionalData` property when working with sharepoint.
I can also confirm the workaround proposed by @ificator results in the expected behaviour of the problem if sub classed like

[code]

[2019-05-20 19:24] ghost opened #5 "Incorrect URL for operations"
### Expected behavior

When attempting to validate a domain the operation return a valid result from the API

### Actual behavior

Currently the operation is unsuccessful because the request is being sent to https://graph.microsoft.com/v1.0/domains/mydomain.com/microsoft.graph.verify instead of https://graph.microsoft.com/v1.0/domains/mydomain.com/verify.

This appears to be an issue with the foll

[2019-05-20 20:24] MIchaelMainer commented on #5
@NakulSabharwal We generate the FQN of actions in the case that we get additional namespaces, we avoid collisions. It appears that the domains endpoint is not supporting FQNs. This is an issue that needs to be addressed by domains API.

This will also be an issue for the https://github.com/microsoftgraph/msgraph-sdk-dotnet

[2019-05-20 20:25] MIchaelMainer commented on #5
Thank you @isaiahwilliams for bringing this to our attention.

[2019-05-21 23:03] tipa commented on #67
Had another user report this error today

[2019-05-21 23:28] MIchaelMainer commented on #67
When this happens, can you verify that the folder exists with both the API and the OneDrive/SharePoint UI?

[2019-05-22 19:58] tipa commented on #67
I can ask my users to let me know if my app created any folder in OneDrive. Last user didn't respond though as he simply switched to the Google Drive sync that I offer and which works without problems

[2019-05-22 21:27] MIchaelMainer commented on #67
@ificator Do you have wisdom to share on this scenario?

[2019-05-22 22:59] phillipharding commented on #71
@nkramer is there any progress on this issue?

[2019-05-23 03:26] ificator commented on #67
Without the `request-id` and `date` from the error in the response body it'll be hard to see what's going on. Also, the code switches between session based uploads and direct put - do we know if this happens for both of them or just one?

[2019-05-23 22:10] tipa commented on #67
I would say usually the first file that is being uploaded from my is below 4MB so the else block is being executed - but I can ask the next user that reports that problem. Anything else that I should ask them then besides checking if any folder has been created in their OneDrive?
How can I get hold of the `request-id` when that exception is thrown? Maybe I can log it and send an event to AppCenter

[2019-05-24 15:13] ificator commented on #67
The error responses from the Graph service will look something like this:

[code]

I'm not really sure how that data is manifested in the SDK though... @MIchaelMainer are the `request-id` and `date` properties in the `innerError` populated in the exception somewhere?

[2019-05-24 17:26] MIchaelMainer commented on #67
The requestId is on the ServiceException.Error.InnerError.AdditionalData[request-id]

[2019-05-24 22:09] tipa commented on #67
Thanks - I added those infos to my logging code and will let you know as soon as I see this error show up again

[2019-06-04 05:48] tipa commented on #67
I now have logged a bunch occurences of this error, I'll post here a few:
request-id: ab53bdf0-c985-4b31-b045-a023190f9fc8, date: 29-5-2019 18:31:00
request-id: 0006de86-4576-47f6-b914-b0bbae7fdddc, date: 03/06/2019 15:20:43
request-id: 08b93382-3ecc-462d-9c27-f98ffe35a414, date: 03/06/2019 12:20:24
request-id: 26331dc3-bd15-4ccf-8763-e9ac12ae1a2e, date: 02/06/2019 17:28:21

Dates may be in local

[2019-06-07 09:49] CloudDesignBox commented on #71
We are getting this issue too. I'll post on twitter to get MS attention.

[2019-06-11 10:27] emi662002 opened #75 "Error creating teams"
In our code, we create a Microsoft team with a Microsoft Graph Beta call (https://graph.microsoft.com/beta). Other calls are done via Microsoft Graph (https://graph.microsoft.com/). We are using Microsoft Graph v1.14.0 NuGet package.

Up until 30 may 2019 this was working fine. After that it stopped working and returned the following error:

Type: Microsoft.Graph.ServiceException
Bericht: Code: Ba

[2019-06-11 17:02] MIchaelMainer commented on #75
@emi662002 Please note that the beta endpoint is subject to change. It gets updated weekly and includes both changes to behavior and API signature. In other words, expect change to happen for that endpoint.

Are you seeing any issues in the v1.0 endpoint?

@nkramer Have there been changes to the beta Teams API as of May 30th?

[2019-06-12 06:17] emi662002 commented on #75
Teams functionality is not available on v1.0.

We couldn't find any repo of the graphapi beta, is there any that we can check?

thx!

[2019-06-12 13:19] ghelyar opened #76 "Batch IDs with backslashes are not handled correctly"
### Expected behavior
Response has an id of `"a\\b"` in the JSON (the backslash should be correctly escaped)

### Actual behavior
Response contains invalid JSON (backslash in id is not properly escaped)
[code]

### Steps to reproduce the behavior
Using https://developer.microsoft.com/en-us/graph/graph-explorer
Make a `POST` request to `https://graph.microsoft.com/v1.0/$batch` with the body
[code]

[2019-06-12 19:35] MIchaelMainer commented on #75
We generate classes for beta. https://github.com/microsoftgraph/msgraph-beta-sdk-dotnet

[2019-06-13 00:19] nkramer commented on #75
IIRC there were some outages around May 30. I'm not aware of any  permanent change we made around then that would impact this scenario.

[2019-06-13 18:19] tipa commented on #67
Any updates on this? I can provide more request-id's if needed.
As far as I can see in AppCenter, this happens mostly in the Windows UWP app, not in the Android app and only for very few users in the iOS app

[2019-06-14 21:30] ificator commented on #67
Hi @tipa - I experimented a little and did come up with something that is plausible. Is it possible that you're attempting to create multiple files in the approot at the same time?

[2019-06-14 21:38] tipa commented on #67
Yes, that is the case - I am sending two PUT-requests simultaneously

[2019-06-14 21:58] ificator commented on #67
Thanks for confirming - it looks like there's a race between the creation of the parent folders for both requests. I'll see what we can do to insulate the caller from this.

[2019-06-19 15:00] kyza222 commented on #75
I have issues creating team as well, please advise.
https://stackoverflow.com/questions/56666870/unable-to-create-a-team-programatically

[2019-06-23 12:59] tipa commented on #67
I updated my app, removing the concurrent uploads (and execute them one after another) when the app knows that the parent folder already exist, however, the error still shows up.
request-id: 19c3d1c1-c426-4bf5-a26e-3e5f0b883e55, date: 21.06.2019 07:15:05
request-id: 1c0d5295-431b-4597-89d2-094893c227d9, date: 21.06.2019 09:15:02
request-id: 425a9d48-2e25-4f87-bfba-6c9340668b39, date: 21.06.2019 06

[2019-07-01 14:44] celloist opened #77 "When url encoding space and uploading to drive it does not decode space(+)"
When uploading to drive via the graph api we url encode the name of the file which works for everything except space. This is just kept as + when decoded on the graph side so we manually change it to %20 after decoding it.
Also when you use more then one space it cuts it to one space e.g. filename:  _some%20%20%20value_  becomes _some value_ when uploaded to drive, are these expected behaviors?

[

[2019-07-09 00:57] adammodlin opened #80 "Unable to create a User (or update with) preferredDataLocation"
### Expected behavior
According to the documentation for the [User](https://github.com/microsoftgraph/msgraph-sdk-dotnet/blob/3f594675b03a1144c9c065428cc79f24c81573e1/src/Microsoft.Graph/Models/Generated/User.cs) object [here](https://docs.microsoft.com/en-us/graph/api/resources/user?view=graph-rest-1.0), I expect to be able to set the `preferredDataLocation` property either at creation or update.

[2019-07-09 05:28] MIchaelMainer commented on #80
Strange. I'm only seeing that property set on the Group entity in the metadata. Either the docs or the metadata is incorrect. Can you set the property via the User.AdditionalData property?

[2019-07-09 16:03] adammodlin commented on #80
I set the property as both `preferredDataLocation` and `PreferredDataLocation` in additional data and get a bad request each time.

![image](https://user-images.githubusercontent.com/6843341/60904725-60ec4800-a228-11e9-8333-ca4bb4527db6.png)
![image](https://user-images.githubusercontent.com/6843341/60904750-6cd80a00-a228-11e9-8069-581d5b2ecdf2.png)

[2019-07-09 16:53] MIchaelMainer commented on #80
Thank you @adammodlin for the info. This doesn't appear to be implemented.

@ificator the documentation states that there is OneDrive Multi-geo preferred data location support for a user via the API. The metadata only states it is available on group. The API doesn't appear to work for the User.PreferredDataLocation property. Can you clarify what we should expect in this scenario?

[2019-07-09 20:29] adammodlin commented on #80
Thanks @MIchaelMainer. If you're able to find any additional information/provide specific details I'm happy to take a stab at it to save you from having to find someone to fix.

[2019-07-09 20:54] MIchaelMainer commented on #75
This appears to be a service bug. Please reopen if you are still experiencing this issue.

[2019-07-09 21:04] MIchaelMainer commented on #76
Thank you for reporting this. I'm following up with the service owners.

[2019-07-09 21:51] MIchaelMainer commented on #77
@celloist That is not expected behavior. Just to be clear, *some%20%20%20value* becomes *some%20value* in both the OneDrive UI and in the API response?

[2019-07-10 09:08] emi662002 commented on #75
Hi, this is still being an issue, we have a workaround, maybe you can get more info given the workaround.
Please see it here:
https://stackoverflow.com/questions/56479989/microsoft-graph-beta-call-to-create-a-team-returns-bad-request

[2019-07-10 17:07] ificator commented on #80
`user` is an AAD object so we'd need to follow up with them.

We had a couple of related issues on our repo:
https://github.com/OneDrive/onedrive-api-docs/issues/1092
https://github.com/OneDrive/onedrive-api-docs/issues/1093

[2019-07-10 17:30] MIchaelMainer commented on #75
That scenario is just strange. I forgot to ask before, did you try setting the content-type header?

[2019-07-10 20:51] adamedx commented on #76
@ghelyar , can you share more about the scenario in which you encountered this? Trying to understand how people are impacted so we can look for a call pattern signature and validate any fixes.

[2019-07-11 12:18] ghelyar commented on #76
I'm executing queries in a batch. As each query has a string key, I would like to use it as the id property in the batch. However, this id property sometimes does not round trip, and sometimes causes errors.

For example, if I wanted to look up groups with the name "foo", I would use
[code]

Group names can have backslashes in them.

If I were to look up the group "a\b" (a backslash b, length=3) t

[2019-07-12 07:10] emi662002 commented on #75
Yes, we found and tried that, with no success.

[2019-07-12 17:26] adammodlin commented on #80
Can you point me to the appropriate team or repo to file an issue with them? This is a pretty confusing scenario and blocking us from moving from EWS to Graph API.

[2019-07-12 17:55] darrelmiller commented on #80
@dkershaw10 Do you know if you are supposed to be able to set this preferredDataLocation on User?

[2019-07-12 22:32] tipa commented on #67
Any updates on this one?

[2019-07-15 22:50] phillipharding commented on #71
Thanks @nkramer
Adding a SharePoint Document Library Tab via an App-Only access token confirmed working today on the ```v1.0``` and ```beta``` endpoints.

[2019-07-24 14:36] POFerro opened #10 "Clone team returns 400 BadRequest if the template team has a yammer Tab"
Hi,

When I try to use the clone method to clone a team that contains a Yammer Tab  I get a status 400: BadRequest as response:
HTTP/1.1 400 Bad Request
Cache-Control: private
Transfer-Encoding: chunked
Content-Type: application/json
request-id: 3ce9e4bd-042d-4ca8-b05c-f6ab688cd0e3
client-request-id: 3ce9e4bd-042d-4ca8-b05c-f6ab688cd0e3
x-ms-ags-diagnostic: {"ServerInfo":{"DataCenter":"West Europe

[2019-07-31 13:22] tipa commented on #67
This issue is nearly half a year old now and I am still getting these errors even though I don't see me doing anything wrong in my code. Can I expect this being fixed at some point? I am happy to share additional information / request-id's if needed

[2019-08-01 20:24] adammodlin commented on #80
Any updates on this (or someone else I should follow up with)?

[2019-08-01 21:39] MIchaelMainer commented on #80
@dkershaw10 Can you provide guidance or direct us to someone else who can provide an answer to the use of preferredDataLocation on User?

[2019-08-06 19:02] limdv commented on #10
I am having the same issue when cloning a team with a Flow tab

{"Code: BadRequest\r\nMessage: Failed to execute settings store request: https://settings.teams.skype.com/amer/v1.0/settings/teams/teams/XXXXXXXXXXXXXXXXXXXX@thread.skype/templateprovisioning, StatusCode: 400, ReasonPhrase: Schema validation errors, X-MSEdge-Ref: Ref A: AF9DA9EF5A344B14AFF03D22F13D529E Ref B: CH1EDGE1005 Ref C: 2019-0

[2019-08-08 03:28] darrelmiller commented on #10
Hi @nkramer could you provide some input on this issue.  Thanks.

[2019-08-08 04:20] nkramer commented on #10
Turning yammer groups into teams is not supported (neither in the API nor in the UI).

[2019-08-08 04:37] nkramer commented on #10
Sorry, disregard -- I misread the issue. @phecdalouie, can you help?

[2019-08-09 18:34] darrelmiller commented on #67
@tipa I would recommend creating a uservoice issue for this as that will get more visibility from the folks who prioritize work to be done.  https://microsoftgraph.uservoice.com/forums/920506-microsoft-graph-feature-requests

[2019-08-14 17:06] ajweber commented on #68
Is there anywhere I can track the service bug on this?

And/or has anyone determined a workaround to "list" items shared with the current user?

Thanks.

[2019-08-14 18:06] MIchaelMainer commented on #68
No this doesn't exist. I would love for this to exist.

I haven't.

[2019-08-14 19:22] POFerro opened #2 "Clone team doesn't copy all tabs from template"
Hi,

I'm using clone method https://docs.microsoft.com/en-us/graph/api/team-clone?view=graph-rest-1.0 to clone a team from a template team.
The issue I'm having is that randomly not all tabs get cloned to the destination team.
An example of this behavior is the call captured bellow:

Request:
POST https://graph.microsoft.com/v1.0/teams/980e4ed9-d259-46d7-8dc8-941de9b7f705/clone HTTP/1.1
Authorizat

[2019-08-14 20:31] pschaeflein commented on #68
It is not documented, but add the `allowExternal` querystring parameter:

    https://graph.microsoft.com/v1.0/me/drive/sharedWithMe?allowExternal=true

[2019-08-14 20:45] MIchaelMainer commented on #68
@JeremyKelley We really should have this as a function overload.

[code]

[2019-08-15 13:11] ajweber commented on #68
IDK if this is slightly OT now, but I thank @pschaeflein for that info very much...however, I realized in testing that I can't find a way to actually share outside my organization in the first place?  The only option in the OneDrive webapp is to share a link (tried from both Business and Personal), and these work way differently.

I can re-post to SO, but does anyone know a way to share outside th

[2019-08-16 12:24] Azeirah opened #89 "404 for not found for a DELETE on a subscription we just received a callback on"
[Originally posted on stackoverflow](https://stackoverflow.com/questions/57306510/microsoft-graph-api-deleting-a-subscription-results-in-404-not-found)

I'm posting here because I think it is a genuine bug, and not just a misunderstanding on my part.

By accident, I created a bunch of subscriptions for the same calendar, while I only need one.

Every time a calendar item is changed, I get like 40

[2019-08-16 12:30] Azeirah commented on #89
Additional information.

I have performed `GET /subscriptions`.
Right after setting up, it shows _two_ subscriptions. That's fine, don't know why there are two, but two could be ok, if the other hasn't been cleaned up or whatever.
However, when I create a calendar item in outlook, I get callbacks from 8 distinct subscriptions.

The exact number of subcriptions differ, one day it's more, another it

[2019-08-19 13:02] HaroldH76 opened #44 "Please add support for the resourceBehaviorOptions to the Graph client"
### Feature request
I would like to be able to use resourceBehaviorOptions when creating and updating Office 365 groups. See also :
https://techcommunity.microsoft.com/t5/Office-365-Groups/Setting-Unified-Group-properties-via-API/m-p/88101 (scroll way down to the bottom)

Specifically the WelcomeEmailDisabled option is something I need right now.

[2019-08-19 13:57] darrelmiller commented on #44
@HaroldH76 This appears to be functionality that is missing in the service API.  In order to get this prioritized, would it be possible for you to create this as a feature request in UserVoice? https://microsoftgraph.uservoice.com/forums/920506-microsoft-graph-feature-requests

Thanks, much appreciated.

[2019-08-19 14:26] HaroldH76 commented on #44
@darrelmiller Thanks for the quick response!
I'm not sure if I understand it correctly. The Graph REST API already supports this option when creating a new group. But the C# Graph client doesn't.

Maybe you mean that the Graph REST API doesn't support this when updating groups?

So when creating new groups this option can be added to the Graph client but when updating not because the REST API does

[2019-08-19 16:11] darrelmiller commented on #44
@HaroldH76 Sorry I was confused.  It does appear in the beta metadata, although it still isn't documented properly in the docs, at least not that I can find.

We do have a beta nuget package that supports it https://www.nuget.org/packages/Microsoft.Graph.beta

@angelgolfer-ms Do you know why `resourceBehaviorOptions` is not in the beta docs but it is in the metadata?

[2019-08-19 20:59] angelgolfer-ms commented on #44
@dkershaw10 , on a search, I see there's a PR about resource provisioning and behavior options associated with you, maybe you can reply to @darrelmiller 's question please?

[2019-08-20 16:05] habex-ch commented on #44
@HaroldH76, I use the following workaround:
Create a new class which inherits from Microsoft.Graph.Group like this:
[code]
Now you can use it, if this is a normal group like
[code]

[2019-08-21 14:39] HaroldH76 commented on #44
@habex-ch thx!

[2019-08-22 03:27] MIchaelMainer commented on #2
@nkramer

[2019-08-23 18:18] ashleywb opened #81 "Team with template 'educationClass' can not be provisioned using a group which does not belong to a class."
Hi,
I'm try to create a Team with educationClass template, the tenant is an education tenant.
I create a  class using https://docs.microsoft.com/en-us/graph/api/educationroot-post-classes?view=graph-rest-beta&tabs=http
I get the groupid and then try and create the team from the group
https://docs.microsoft.com/en-us/graph/api/team-post?view=graph-rest-beta#example-4-create-a-team-from-group
When I

[2019-08-26 14:02] POFerro opened #82 "Team created using Graph is still waiting for sharepoint site to be created"
Hi,

I created a team using Graph as described in:
https://docs.microsoft.com/en-us/graph/teams-create-group-and-team
The team was successfully created and visible on Microsoft Teams but when I try to access Files Tab or SharePoint site I get an error saying:
"We are setting up your file directory.
Try refreshing the page after a few minutes or check back later."

The team was created on thursday

[2019-08-26 18:07] MIchaelMainer commented on #82
@JeremyKelley Can you provide insight into this customer scenario?

[2019-08-27 17:11] tipa commented on #67
I created that issue as you suggested [here](https://microsoftgraph.uservoice.com/forums/920506-microsoft-graph-feature-requests/suggestions/38356555-fix-itemnotfound-when-uploading-file) 2 weeks ago.
Unfortunately (but expected) there was no reaction since then.
It saddens me that noone seems to be responsible fixing this apparent bug.

[2019-08-29 10:21] POFerro commented on #82
Hi guys,
Any news on this? Still the sharepoint site hasn’t been created, my customer is waiting for it, can I delete the team and try again? Will me deleting it make you lose any ability to analyze the situation?

Thanks and best regards

[2019-09-02 09:18] miguelduarte42 commented on #89
I'm seeing this with email subscriptions too. I get a bunch of subscriptions on GET /subscriptions, but when I try to delete any of them, I get a 404

[2019-09-10 14:23] CloudDesignBox commented on #71
Anyone having issues with updating tabs using app permissions? Seems to work ok with delegation. Can create the tab with app permissions but not update them.

[2019-09-16 09:06] ghelyar commented on #73
Just to add to this

Both of these include users, groups and contacts with exactly the same response
[code]
The response indicates that contacts _are_ directory objects:
[code]

This only includes users
[code]

This only includes groups
[code]

This returns a 400 bad request error, indicating that contacts _are not_ directory objects:
[code]
[code]

Also, this seems to only occur on the /beta endp

[2019-09-16 13:20] darrelmiller commented on #73
This has been fixed and should be rolling out soon.  You should start seeing the OData.Type as `microsoft.graph.orgContact` which does derive from directoryObject.

[2019-09-17 13:35] A-Lynch opened #1 "Cloning team, visibility is not optional"
The Microsoft documentation states that the visibility attribute is optional see [Request Body](https://docs.microsoft.com/en-us/graph/api/team-clone?view=graph-rest-1.0#request-body)

However the MSGraph SDK does not respect this and forces a visibility to be set, instead of taking the visibility of the original Team

[2019-09-17 13:39] MIchaelMainer commented on #1
Documentation is not in agreement with the metadata. The metadata states that the **visibility** property is not nullable in the clone action.

      <Action Name="clone" IsBound="true">
        <Parameter Name="bindingParameter" Type="microsoft.graph.team" />
        <Parameter Name="displayName" Type="Edm.String" Unicode="false" />
        <Parameter Name="description" Type="Edm.String" Unicode=

[2019-09-17 13:41] darrelmiller commented on #1
/cc @nkramer

[2019-09-19 09:37] ghelyar commented on #73
This seems to have got worse. Now you can't list members at all, which prevents the workaround from working.

Just submitting a group membership request for a group that has contacts as members now returns a bad request error from the server, instead of a response that contains the contacts that the client was failing to deserialize.

`https://graph.microsoft.com/beta/groups/{groupId}/members`
[co

[2019-09-19 13:16] darrelmiller commented on #73
/cc @dkershaw10

[2019-09-24 14:18] celloist commented on #77
@MIchaelMainer i am not sure i just know what the api response returns (just backend)

[2019-09-25 18:55] vivienchevallier opened #49 "List places API returns an error"
Listing places is currently returning an error with the version 0.8.0 of the SDK.
[code]

When looking at the [documentation](https://docs.microsoft.com/en-us/graph/api/place-list?view=graph-rest-beta&tabs=http#example-1-list-all-the-rooms-defined-in-the-tenant) the endpoint to call to **_list all the rooms defined in the tenant_** is:
`https://graph.microsoft.com/beta/places/microsoft.graph.room`

[2019-09-25 19:19] darrelmiller commented on #49
The URL `https://graph.microsoft.com/beta/places` should work and should return all places regardless of if they are a room or not.  The suffix `microsoft.graph.room` isn't necessary and just filters the result by places of type room.

[2019-09-25 20:27] vivienchevallier commented on #49
Hi @darrelmiller,

So I have updated the title as it is not an SDK issue but service issue.
The error when calling `GET https://graph.microsoft.com/beta/places` is:

[code]

Also when using the SDK, does it mean we should be able to filter the places by room like the following:
`var rooms = graphServiceClient.Places.Request().Filter("microsoft.graph.room").GetAsync();`

[2019-10-14 11:39] A-Lynch commented on #1
Hi,
Is there a fix for this yet?

[2019-10-18 22:12] anomepani commented on #2
Is it possible to get content while cloning team with apps, tabs
,wiki and files?

This will be very helpful to have while cloning team.

[2019-10-21 17:50] nkramer commented on #2
@phecdalouie can you comment on this?

[2019-10-23 16:14] andrueastman commented on #17
This is still replicable on the service.

[2019-10-25 14:04] AndroidGecko commented on #70
found the same bug within Android SDK, IOS SDK and even MS Graph Explorer.

https://stackoverflow.com/questions/58557597/onenote-api-get-list-of-pages-from-section-filtering-out-the-deleted-pages

@manjushm-microsoft  could you share what is the workaround?
@arcadiogarcia were you able to resolve this?

This makes the whole OneNote API simply unusable as there is no way to distinguish between dele

[2019-10-28 14:00] chigivigi opened #11 "ItemWithPath method does not work correctly"
**Describe the bug**
I am using GraphServiceClient with AppContext authentication to get content of a file in Sharepoint Library with file library path but returns "Item not found" when entering ItemWithPath method.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new portal azure registered app
2. Pass the following Application Permissions for Graph Api: Files.ReadWrite.All, Sites.Rea

[2019-11-05 11:13] hkusulja commented on #11
I also have same issue and would like this is fixed in SDK...

[2019-11-06 22:24] skahlam commented on #2
I am having the same issue with Tabs randomly not being cloned.  Any update on this?

[2019-11-08 09:24] anurag2994 opened #83 "Folder creation on OneDrive fails with error message "User's mysite not found" when a user is created through Graph API"
**Describe the bug**
Folder creation on OneDrive fails with error message "User's mysite not found" when a user is created through Graph API. The Office 365 E3 Developer was assigned upon creation.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a user using the Graph API.
2. Assign Office 365 E3 Developer license using the Graph API.
3. Create a folder on OneDrive using the Graph AP

[2019-11-08 13:12] Rfaering opened #14 "[Client bug]: Creating application with implicitgrantsettings fails with bad request"
**Describe the bug**
When calling AddAsync for applications with ImplicitGrantSettings model set, the request fails with bad request

**To Reproduce**
Steps to reproduce the behavior:
Download the client and create the following code
`
            await graphServiceClient.Applications.Request().AddAsync(new Application()
            {
                DisplayName = "graph-test-app-52",

[2019-11-12 16:47] MIchaelMainer commented on #11
This doesn't appear to be an issue with the client SDK as the call can be successfully performed with delegated access.

@ificator @JeremyKelley It is reported that application only access doesn't work when accessing files via path. Can you take a look at this?

[2019-11-13 18:57] mjlally07 commented on #17
Just encountered this issue today after working fine for weeks.  Same error with subclass workaround.  I've implemented my own routine until this is resolved:
[code]

[2019-11-27 10:03] rodrigoguariento opened #90 "Bug listing calendar in rest /users/{id}/calendar/calendarView"
Let's suppose that we have an event that starts at 4pm and ends at 5pm. When we make a call to rest v1.0 or BETA, like startDateTime with 5pm and endDateTime with 6pm, the event that starts at 4pm and ends at 5pm is brought. I have in mind that the concept over "until" in this filter at Microsoft is considering exactly 5pm as a useful time when it couldn't. Thanks. Eg.: /users/{id}/calendar/calend

[2019-11-28 09:59] adrichema opened #13 "Archiving teams is not working anymore"
When trying to archive a team I am the owner of, I get the following error:

{
    "error": {
        "code": "UnknownError",
        "message": "{\"@odata.context\":\"https://api.teams.skype.com/v1.0/$metadata#Edm.String\",\"value\":\"{\\r\\n  \\\"error\\\": {\\r\\n    \\\"code\\\": \\\"\\\",\\r\\n    \\\"message\\\": \\\"This request is forbidden.\\\"\\r\\n  }\\r\\n}\"}",
        "innerError": {

[2019-12-02 22:06] FoxyNE opened #12 "Error when specifying Application.Api properties"
I am using Microsoft.Graph NuGet package v1.20.0 and can successfully create an AAD Application using graphServiceClient.Applications.Request().AddAsync(application) but as soon as I try to specify the Api property, as shown below, I get the following error:

Microsoft.Graph.ServiceException: 'Code: Request_BadRequest
Message: A type named 'Microsoft.DirectoryServices.apiApplication' could not be

[2019-12-05 03:24] MIchaelMainer commented on #12
Thank you for opening this issue. Can you show us a sanitized request and response?

[2019-12-05 03:38] MIchaelMainer commented on #13
@adrichema Have you seen this work before? If so, when did that behavior change?

[2019-12-05 06:26] adrichema commented on #13
@MIchaelMainer, yes until a few weeks ago it did worked fine. Here is an example of one of the teams that we archived using our solution and the Graph API: https://teams.microsoft.com/l/team/19:25495d087ae74f7ebbfe53e5cfdd32d9%40thread.skype/conversations?groupId=f4ded65f-3986-461b-ac58-355a3e549ec0&tenantId=fe8dd5d3-931a-4bf6-b092-c4bb082d1e0d

[2019-12-17 11:06] rikuvakeva commented on #17
Any news about the timeline when this is going to be fixed?

[2020-01-03 12:12] vijramkar opened #84 "Issue with fetching site info of a microsoft teams group"
I am trying to fetch the site info of a Microsoft teams group using c# API. I had written this code sometime in November and it was working fine then. But now the call fails with a status code of 500 and Internal server error.

           GraphServiceClient graphClient;
           .
           .
           .
           Site siteInfo = graphClient.Groups["groupId"].Sites["root"].Request().GetAsync(

[2020-01-06 16:34] A-Lynch commented on #1
This has been open since Sept, is there any fix?

[2020-01-14 12:08] Abhi-Sh1 commented on #12
facing same issue while updating RequiredResourceAccess property. Any timelines for this to be released?

[2020-01-14 21:37] vsaroopchand commented on #12
Can we get an update on this issue please. This is blocking our migration from Azure AD SDK to MS Graph SDK due to performance, etc.

[2020-01-16 16:31] darrelmiller commented on #12
@vsaroopchand If you could show us the request body that is being sent, that would really help us troubleshoot this issue.  Using fiddler is the easiest way to capture that.

[2020-01-16 22:04] MIchaelMainer commented on #83
This strikes me as provisioning latency between creating the user, user profile propagation, license assignment, and then having access to OneDrive. Please let us know if you are still having this issue and any solutions you may have found.

[2020-01-17 17:10] MIchaelMainer commented on #14
This looks like either an issue with the service description of the API from which we generate the client, or an issue with the service API. Are you able to make other type applications?

[2020-01-17 21:34] vsaroopchand commented on #12
@darrelmiller I emailed you a complete fiddler trace of the issue.

[2020-01-19 12:14] dustindortch commented on #75
So, I am curious why this is marked as closed when the issue persists?

[2020-01-19 16:10] Rfaering commented on #14
Yep, If I do not set ImplicitGrantSettings there is no problem

[2020-01-20 14:10] MrTantum commented on #80
Any Update on this topic? I'm still neither not getting the property using the Graph library in AdditionalData nor exists the property in the User class.

[2020-01-21 07:56] menfra commented on #71
Having similar issue using the following package versions
[code]
The error says this

[code]
Is there something I am missing, or the service issue isn't yet resolved by MS.

[2020-01-21 18:29] anurag2994 commented on #83
Found a Workaround to fix this issue which works as follows:

1. Go to office.com.
2. Log into new user's account.
3. Go to apps and open the Sharepoint app on the browser.

After following these steps now the folder gets created on OneDrive.

[2020-01-21 20:52] adammodlin commented on #80
I'm still unable to do this as well. We're stuck with our less than ideal solution until this bug is addressed.

[2020-01-21 21:03] MIchaelMainer commented on #80
@MrTantum @adammodlin

This has been added to the beta endpoint. See https://github.com/microsoftgraph/msgraph-beta-sdk-dotnet/blob/master/src/Microsoft.Graph/Models/Generated/User.cs#L335

I don't have information about when it will arrive on the v1.0 endpoint.

[2020-01-21 21:10] adammodlin commented on #80
Thanks @MIchaelMainer , I'll try to give that a shot with my team.

Tagging @keithbabinec for awareness

[2020-01-21 21:11] adammodlin commented on #80
Would you prefer that I close this issue since it's now in beta or leave it open until it goes to v1.x endpoint?

[2020-01-21 21:19] MIchaelMainer commented on #80
Please close it after you've confirmed that it works as you'd expect.

[2020-01-21 23:49] MIchaelMainer commented on #75
@dustindortch This was meant to be left open.

[2020-01-22 15:38] buzznut opened #52 "Graph Beta Channel Get Messages returns “Forbidden”"
When reading Teams channel messages with Graph, I am getting a "Forbidden" error. Note: this started last week regardless of the channel messages that were created with the Teams UI (Web) or Graph. To mitigate the problem I need to remove the Graph OAuth user from the team using PowerShell:

(1)Remove-TeamUser,
(2)remove-unifiedgrouplinks for "owner",
(3)remove-unifiedgrouplinks for "member",
(4)a

[2020-01-22 15:41] buzznut opened #50 "Graph beta Teams Channels filesFolder property problem"
There seems to be a number of issues with the "filesFolder" endpoint for Beta Teams Channel and the results are intermittent.

Using Graph to create channels (both private and standard) I then have these errors:

For newly created "private" channels it returns code: "BadGateway" errors. I don't know if they ever go away. The private channel site is created in Sharepoint. The error message: "Failed

[2020-01-23 21:18] darrelmiller commented on #52
/cc @nkramer

[2020-01-28 01:00] MIchaelMainer commented on #12
The service is not ignoring the odata.type property. It is supposed to ignore odata.type instance annotation if it doesn't expect it. We set it by default on all objects.

A preliminary run of this code tells me that Application.Odatatype and ApplicationApi.Odatatype can be set to null to address this. You may need to set other objects' odatatype property to null to get around this issue.

[2020-01-28 14:25] vsaroopchand commented on #12
Thanks for the response Michael. Our use case requires us to set these properties to avoid manually editing the manifest. We look forward to a long-term fix that allows these properties via the SDK.

[2020-02-06 20:43] kurtwaldo opened #53 "Channel Creation Issues using Application Permissions"
There is currently an issue creating both public and private channels via the Graph API using **application permissions**. It appears to work properly using delegate permissions.

**Public Channel Creation**
When creating a public channel, the underlying Sharepoint folder is not created until a user physically logs into Teams and clicks the "Files" tab. Our current workaround is manually creating

[2020-02-10 23:13] xamarsinx commented on #12
The issue has been fixed.

[2020-02-11 18:14] MIchaelMainer commented on #12
@FoxyNE are you seeing this as fixed?

[2020-02-12 08:15] MattEHopkins opened #51 "Adding a guest user via Groups[teamGroup.Id].Members.References.Request().AddAsync(extMemberUser) no longer updates Teams members"
When adding Teams members, we have to do this through the groups api.
Adding an internal member (same tenant) works as it always did and the Team members are updated as expected.  Adding an external member used to work through the same api call as long as guests were enabled in the various Admin centers for Teams and AAD.

We are expected to invite the guest using graphClient.Invitations.Request()

[2020-02-13 21:34] peombwa commented on #51
@nkramer Are you aware of any issue with this API?

@MattEHopkins Can you provide a request and response capture of this?

[2020-02-16 18:28] arsnyder16 commented on #67
@darrelmiller  @tipa

I am able to reproduce a similar issue that seems unrelated to concurrent requests. If one of my users shares a file from their one drive to another user with write permissions, then anything time the uploadUrl is used they receive a 404 "ItemNotFound". This includes trying to delete the uploadsession.

I haven't tested this across tenants, All the issues we see are two users

[2020-02-17 21:04] arsnyder16 commented on #67
Just an update to my comments, so we did some more digging. We are seeing inconsistent behavior between some files from the same users onedrive, even within the same folder. Some files the uploads work fine every time and other file the upload session is created but when you try to use the upload url you get a 404 "ItemNotFound" response.

here are some details from the failed uploads

Upload Sess

[2020-02-19 18:42] mpjones84 opened #122 "Unable to add ReferenceAttachment to Message"
**Describe the bug**
After creating a message you cannot attach a ReferenceAttachment to it as it is missing key properties such as SourceUrl

**To Reproduce**
Create your message using the client
[code]
Add a ReferenceAttachment to it

[code]

**Expected behavior**
Attachment made, as native api call.

**Screenshots**
[code]

**Client version**
1.21.0

**Desktop (please complete the following inf

[2020-02-20 21:29] peombwa commented on #122
Please share the following to help us understand the issue:
- Request capture using fiddler or Charles.
- Code for creating the reference attachment.

[2020-02-20 21:34] peombwa commented on #122
Also, to set a SourceUrl on an attachment, use our beta library [Microsoft.Graph.Beta](https://www.nuget.org/packages/Microsoft.Graph.Beta/0.12.0-preview) instead of the v1.0 (Microsoft.Graph).

We don't know when it will go to v1.0.

[2020-02-21 11:26] mpjones84 commented on #122
Sure

Request (shows old oath tokens)
[code]

[code]

There is no sourceUrl in the current model, I can see them on the beta, but I cannot get that to work along side the current version, due to this issue https://github.com/microsoftgraph/msgraph-beta-sdk-dotnet/issues/72

It seems to me that the client nuget packages doesn't have the same models as required by the api, so you have a mis match be

[2020-02-26 07:04] nowheremanmail opened #91 "[Client bug]: search on drive fails"
**Describe the bug**
on onedrive, Trying to find all files with search criteria, it fails with error

**To Reproduce**

`var search = provider.Graph.Me.Drive.Root.Search("music").Request().Top(20);`

`var files = await search.GetAsync();`

**Expected behavior**
should return first page with files

[AB#7273](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edi

[2020-02-26 19:02] MIchaelMainer commented on #91
This is an error in the service. I tried the following with a business account.

I can reproduce this issue with the beta endpoint.
**Success: **`https://graph.microsoft.com/beta/me/drive/root/search(q='music')?$top=20`
**       Fail: **`https://graph.microsoft.com/beta/me/drive/root/microsoft.graph.search(q='music')?$top=20`

This works as expected against the v1.0 endpoint.
**Success: **`https:/

[2020-03-02 23:19] baopingz commented on #14
we're hitting the same issue. any update on this?

[2020-03-03 11:30] patrickmatsumura commented on #75
I'm still having this issue and I'm using V1.0. Is there a workaround or an ETA for a bug fix?

[2020-03-04 19:05] Elrashid commented on #75
now not working getting  "Direct address of the relationship target should be specified.",

Post https://graph.microsoft.com/beta/teams
Content-type application/json

body
{
  "template@odata.bind": "https://graph.microsoft.com/beta/teamsTemplates/standard",
  "displayName": "MyTeam",
  "description": "MyDescription",
  "owners@odata.bind": [
    "https://graph.microsoft.com/beta/users/xxxxxxxx-xx

[2020-03-06 11:36] sven5 commented on #91
@MIchaelMainer
Is there any workaround available?

[2020-03-06 11:40] BerndSadleder commented on #17
We have encountered the same problem in Microsoft.Graph v1.21.0.
Following workaround has solved the issue on our side:
[code]

[2020-03-07 21:11] arsnyder16 commented on #67
We did some more tracking, looks like this issue is as simply as, sharing a file from a folder that is not also shared.

@darrelmiller Any insight you can supply on the state of the service bugs that are tags this repo? Has anyone tried or successfully reproduced these scenarios on the service side? Has there been acknowledgment from the team?

Is there a commitment from Microsoft to maintain or a

[2020-03-07 21:44] arsnyder16 opened #40 "404 ItemNotFound using Upload Sessions"
# Bug Report

## Prerequisites

-   [X ] Can you reproduce the problem?
-   [X ] Are you running the latest version?
-   [ X] Are you reporting to the correct repository?
-   [ ] Did you perform a cursory search?

For more information, see the `CONTRIBUTING` guide.

## Description

If one of my users shares a file from their one drive to another user with write permissions, but does not share the

[2020-03-09 01:18] arcadiogarcia commented on #70
@AndroidGecko I wasn't able to resolve this :(
@manjushm-microsoft can you point us to a valid workaround? This is a BIG blocker for developing apps that list OneNote pages.

[2020-03-09 06:56] manjushm-microsoft commented on #70
Alright let me check with my team if we can bump up the priority of this issue. I will let you know. Thanks!

[2020-03-10 08:26] nesherhh commented on #14
is there a workaround? we're also hitting this issue

[2020-03-12 20:43] MIchaelMainer commented on #40
@ificator @JeremyKelley Is it expected behavior? Can you please take a look at this?

https://github.com/microsoftgraph/msgraph-sdk-dotnet/issues/385

[2020-03-13 22:46] ificator commented on #40
This is an issue with the way the service is generating the upload URL - we're tracking a fix but don't yet have an ETA.

[2020-03-24 17:21] dlong11 commented on #40
@ificator @MIchaelMainer Any ETA on this?  I am experiencing this same issue.

[2020-03-26 18:49] antonGritsenko opened #43 "Error "OrganizationFromTenantGuidNotFound" when try to upload photo"
**Describe the bug**
We do have some complex (but I think usual) setup: two tenants, one with Azure Functions and app (AppTenant) registration, second the users tenant (UserTenant)
We using Graph API SDK to do some staff inside of the UserTenant from Azure Functions located in AppTenant with Client Credential authentication flow. Everything works fine, we can create users, read domains and so on.

[2020-03-27 12:48] arsnyder16 commented on #40
@ificator @MIchaelMainer Any updates?

[2020-03-30 15:55] karinebosch commented on #44
I tried this out today, but this solution did not work for me. Welcome emails are still sent.

[2020-04-02 08:44] arnaudleclerc commented on #14
As a workaround, it looks like setting the `ODataType` property on `ImplicitGrantSettings` to null makes it work.

[code]

[2020-04-09 20:55] MIchaelMainer commented on #43
You are using an older endpoint for getting an access token. We suggest that you use our auth providers which will use the new endpoint:

https://docs.microsoft.com/en-us/graph/sdks/choose-authentication-providers?context=graph%2Fapi%2F1.0&view=graph-rest-1.0&tabs=CS#ClientCredentialsProvider

[2020-04-13 14:13] antonGritsenko commented on #43
Thanks, I will check this in upcoming days

[2020-04-13 18:36] antonGritsenko commented on #43
@MIchaelMainer nothing changed. Current implementation:

Client creation:
[code]
Code to create user and photo are same as above. Same exception.

Packages:
[code]

[2020-04-21 16:37] mpjones84 commented on #122
Hi

Is there any update on this issue?

[2020-04-21 19:02] MIchaelMainer commented on #122
@svpsiva Do we have a timeline for getting reference attachment onto v1.0?

[2020-04-22 04:10] greenygh0st commented on #74
Is there any update on the issue? I am currently facing this issue as well.

Regardless if the SDK is used or if direct queries are made the result is always the same:

[code]

The obvious expectation is that the file would start to copy and a monitor URL would be returned as per the documentation [here](https://docs.microsoft.com/en-us/graph/api/driveitem-copy?view=graph-rest-1.0&tabs=http) and [

[2020-04-22 04:11] greenygh0st commented on #74
I should also clarify this is failing on individual files copying from one location to another on OneDrive.

[2020-04-22 19:23] jasonjoh opened #35 "Error is lost on failed requests in a batch"
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [x] Are you reporting to the correct repository?
-   [x] Did you perform a cursory search?

## Description

When one or more requests in a batch fail, you cannot access the error from the body of the response.

**Console Errors:** [Is there any console error]

**Screenshots:** [If

[2020-04-23 20:24] MIchaelMainer commented on #35
AGS should be returning Content-Type on batch responses when there is one or more error responses in the batch. We need to follow up with AGS on this. @sriram-d Are you aware of this issue?

[2020-04-29 14:21] buzznut opened #48 "Getting channel messages by id and message data (hosted content) returning not found."
I retrieve ids for messages via Graph. Then fetch additional data from each message using Teams/TeamId/Channels/ChannelId/Message/MessageId/xyzzy.

The message that the id from the returned set of messages is not not found.

This started happening around April 25, 2020. Multiple tenant instances seeing the same issue.
[AB#7170](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef3

[2020-04-29 17:18] darrelmiller commented on #48
/cc @nkramer

[2020-05-06 11:10] jansohn opened #41 "Directory_ExpiredPageToken when requesting next page with $filter request option"
I'm getting a `Directory_ExpiredPageToken` error message when using a `$filter` option for `assignedLicenses` and requesting the next page results. If I remove the `$filter` option it does not throw the error.
As a work-around it seems to work if one just tries often enough but this creates unnecessary traffic load and slows down the whole process.

This has also been reported on StackOverflow alr

[2020-05-14 23:42] antonGritsenko commented on #73
Same story with IServicePrincipalOwnersCollectionWithReferencesRequest:

[code]

Workaround with overriding IServicePrincipalOwnersCollectionWithReferencesPage and ServicePrincipalOwnersCollectionWithReferencesResponse works fine.

[2020-05-19 08:28] 4at-nk opened #4 "An error occurred while trying to add content to the list in SharePoint"
Hello!
I am using MS Graph sdk v1.5 in Java code.
I am trying to add content type to the list as follows:
[code]
This approach is not described in the documentation, but I have not found others.

### Expected behavior
Content type with the specified id and inherited from the content with id "0x0103" will be created in
the list.

### Actual behavior
It throws exception that contains follows respons

[2020-05-26 18:46] jeckkech opened #3 "Calls API: Unexpected exception returned from the service.Error code: 9999"
### Expected behavior
On calling
IGraphServiceClient.communications().calls().buildRequest().post(call);
to have a call created with id assigned to be able to invite participants using participants/invite endpoint, OR to receive a valid error code, so it's possible to figure out what piece of configuration/request payload is missing

### Actual behavior

Every time the request with Call() instance

[2020-05-28 12:38] fishinstew opened #94 "CreateLink for item with provided Id sends improper query to SharePoint resulting in incorrect error."
While providing an _itemId to Graph an improper query is executed vs SharePoint and an incorrect error is bubbled up through Graph.

**Steps To Reproduce:**
With an authenticated Microsoft.Graph.GraphServiceClient, perform the following action vs a SharePoint site with > 5,000 items.
`await GraphClient.Sites[_siteId].Drives[_driveId].Items[_fileId].CreateLink("view", "anonymous").Request().WithMax

[2020-05-28 20:13] MIchaelMainer commented on #94
@JeremyKelley This appears to be an issue with SharePoint+Graph service when creating an anonymous sharing link.

[2020-06-18 14:27] Kalle4242 opened #96 "Cannot access drive items of sharepoint subsite's document library if it is addressed by the subsite's path"
I cannot access drive items of sharepoint subsite's document library if it is addressed by the subsite's path.

Steps to reproduce the behavior:
With an authenticated 'beta' Microsoft.Graph.GraphServiceClient, perform the following action vs a SharePoint with a subsite 'ASubSite' with a document library 'ADocumentLibrary' with a subfolder 'ASubFolder' containing at least one file:

`var driveItems

[2020-06-18 20:32] MIchaelMainer commented on #96
This doesn't appear to be an issue with client library and is most likely an issue in the service API. Can you post this question to [StackOverflow](https://stackoverflow.com/questions/tagged/microsoft-graph-sdks) and tag it with [microsoft-graph] and then provide a link to us here in this issue?

[2020-06-19 07:54] Kalle4242 commented on #96
Thank you Michael, for your hint. I posted the question on StackOverflow. You can find it under the link [https://stackoverflow.com/questions/62465689/cannot-access-drive-items-of-a-sharepoint-subsites-document-library-if-it-is-ad](url)

[2020-07-01 17:15] bcarthic opened #47 "Getting InternalServerError for https://graph.microsoft.com/beta/me/profile endpoint"
I'm getting a 500 error while invoking https://graph.microsoft.com/beta/me/profile endpoint from using the sdk and graph explorer. I can see the error response as below. Any idea why? I tried resetting my birthdate multiple times from account.microsoft.com but that is still not fixing the timestamp & lastModifiedBy issue

[code]
[AB#7139](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-

[2020-07-01 17:51] MIchaelMainer commented on #47
@mtennoe, incident 194808099

[2020-07-02 22:09] captinhdy commented on #71
I am receiving the value cannot be null error when trying to add a website tab. I was able to add SharePoint Library tab. My website tab is created, but corrupts the tab collection or the tab after it is created and I cannot add another tab or update any tabs.

ServiceException: Code: BadRequest
Message: Value cannot be null.
Parameter name: entity
Inner error:
	AdditionalData:
	date: 2020-07-02T2

[2020-07-08 00:46] fuocor opened #97 "Cannot create Team with External Azure Active Directory User as Global Admin"
**Describe the bug**
I am trying to create a Team using a token from a user (member) from an external AzAD that is in the global admin role for the target directory.

The ```PublicClientApplication``` is in the target directory and the ```Group.ReadWrite.All, Directory.ReadWrite.All``` have been admin consented.

The account can create and manage the Group but fails on the Team. If I use a local m

[2020-07-09 20:44] MIchaelMainer commented on #97
@nkramer

[2020-07-16 15:27] cKrishnaiah opened #98 "Not able to create a schedule for the team using the graph sdk or API."
Trying to create a schedule for a team using Graph SDK or via Postman returns 204 status code. When schedule data is retrieved for the same, schedule **provisionStatus** is updated as **Failed** as shown below in the screenshot.

![image](https://user-images.githubusercontent.com/46446451/87690154-b3026a80-c7a6-11ea-9142-c8c92ad75ee2.png)

But creating schedule for the team directly from MS teams

[2020-07-21 18:03] robinmalik commented on #81
I'm also experiencing this issue, so it seems impossible to enable a Team with Class functionality for existing Groups.

[2020-07-29 18:26] maykoestevez commented on #43
Hello, @MIchaelMainer did you solve this issue, I'm getting the same error while getting the photo like this:
` var streamPhoto = await _graphClient.Users[userId].Photo.Content.Request().GetAsync();`

[2020-07-29 18:36] MIchaelMainer commented on #43
This issue is likely not with the Microsoft Graph client library. I have to suggest that you post to StackOverflow with the microsoft-graph tag so that we can get more eyes on it. Post a link to the StackOverflow post here. The OrganizationFromTenantGuidNotFound error suggests a misconfiguration. I don't know the solution.

[2020-07-29 18:44] antonGritsenko commented on #43
@MIchaelMainer Definitely, it's not about a client library at all, because it can be repro even with REST API call. This is something with the API itself. Did you try to reproduce the issue with provided code?

[2020-07-29 18:51] MIchaelMainer commented on #43
I haven't tried to reproduce. I now question whether update photo works for application permissions. The [docs state that group photos](https://docs.microsoft.com/en-us/graph/known-issues#groups) are only supported with delegated permissions. I know that is for groups, but since they are directory objects like users, it may be applicable. I suggest trying updating the user photo while using delega

[2020-07-29 18:57] antonGritsenko commented on #43
@MIchaelMainer I tried both, with same result.

[2020-08-01 16:34] mhomol opened #54 "https://graph.microsoft.com/v1.0/sites/?search=* works in v1.0 but fails in beta"
**Describe the bug**
Running the following route https://graph.microsoft.com/v1.0/sites/?search=* against the API in beta produces the following error:

[code]

You get the same error message from the Graph SDK latest beta version.  The code for that looks like this:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Graph explorer: https://developer.microsoft.com/en-us/graph/grap

[2020-08-03 08:49] ryan-carbon commented on #72
Any update on this? I'm experiencing the same issue.

[2020-08-10 13:33] thomphi2 commented on #81
Same here. The educationClass educationStaff Templates fail. The others work with out any issue

[2020-08-17 09:20] JeroenDaniels opened #45 "[Client bug]: 404 ItemNotFound response when requesting SharePoint Site"
**Describe the bug**
We have a SharePoint site http://{tenant}.sharepoint.com/sites/{site-name}.

First i do a search request in Microsoft Graph: https://graph.microsoft.com/v1.0/sites?search='sites/{site-name}'
This gives me the ID of the site, then i use this ID to use other features of the Microsoft Graph API: https://graph.microsoft.com/v1.0/sites/{tenant}.sharepoint.com,{guid},{guid}.

This r

[2020-08-19 07:48] jeffangama commented on #81
My goal is to do like classic teams :

Create the group
Add a team to the group
To workaround a feature where we need to have the TEAM Calendar (group), showing in outlook : https://techcommunity.microsoft.com/t5/microsoft-teams-ama/why-the-teams-calendar-not-visible-in-outlook/td-p/300155
In this way I avoid using powershell to enable the calendar visibility in Outlook

[2020-08-20 20:19] MIchaelMainer commented on #45
@JeremyKelley Can you have your team take a look at this?

[2020-08-22 10:45] mayankkarki90 commented on #43
Any update, I am facing the same error on get or put photo

[2020-08-27 16:01] nibsi commented on #96
Hi everyone. Is there an update on this issue? When I perform the following request I get the same error message:

`GET https://graph.microsoft.com/v1.0/sites/root:/Sites/Example:/drive/root/children`

I realize that this is not caused by the client library, but it's really hard to find information on this subject otherwise.

[2020-09-03 21:05] atulgpt commented on #7
@NakulSabharwal any update on this? This is generating redundant error handling logic to get the error based on string search of the exception message.

[2020-09-14 17:59] ddyett commented on #35
we should follow up with the service team here as this impacts our experience.

[2020-09-14 18:04] ddyett commented on #40
@ificator do you have a tracking on this issue or can we move this issue somewhere else?

[2020-09-14 18:09] ificator commented on #40
I believe this issue was resolved, but I neglected to circle back here and state as such. Are you still seeing the unexpected 404 when you try to update a file in folder that the caller does not have access to?

[2020-09-14 18:16] tipa commented on #40
I still see the (presumably) same issue very frequently (however I am using the .NET SDK). There's also related issues here:
https://github.com/microsoftgraph/msgraph-sdk-dotnet/issues/385
https://github.com/OneDrive/onedrive-api-docs/issues/1132

I am trying to upload files to the private app folder

[2020-09-14 18:49] ificator commented on #40
@tipa your scenario is a little different - it sounds like you're using special folders and there's some kind of race with folder provisioning. This issue was specifically there's a file shared to a user in a folder that is NOT shared, and previously the upload URL we generated would fail with a 404 in this case. We fixed it by changing the format of the upload URLs.

[2020-09-14 18:51] baywet commented on #41
Thank you for your question and your patience on the matter.
This was a temporary service issue which has been fixed since.
A few notes about your code:
[code]

Closing as it's a fairly old question. Feel free to comment/ask to re-open if required.

[2020-09-15 00:10] raydixon commented on #40
I can confirm that this is still an issue with the app I am using from @tipa.

[2020-09-16 11:15] clizSec commented on #89
Any updates on that? I experience the same

[2020-09-16 21:35] MIchaelMainer commented on #89
@venkateshchepuru, can you take a look at this?

[2020-09-22 15:28] PIC16f841 opened #8 "emails with sensitivity set to Personal, Private, or Confidential return a 500 error for the whole query"
I'm trying to read a shared inbox and sent folders with a query like this

GET https://graph.microsoft.com/v1.0/users/<user_shared_inbox>/mailFolders/sentitems/messages$top=100

Then I try to get all the pages :
`List<Message> emails = new ArrayList<>(results.getCurrentPage());
 //Get all the pages results...
 while (results.getNextPage() != null) {
            results = results.getNextPage().buil

[2020-09-22 15:38] PIC16f841 commented on #8
Tested in graph explorer as well, same issue, different error but still a generic one

{
    "error": {
        "code": "UnknownError",
        "message": "Error while processing response.",
        "innerError": {
            "date": "2020-09-22T15:37:30",
            "request-id": "9daf6003-e03d-4eb1-9de4-02aa484703ff",
            "client-request-id": "3b9549cd-7f9f-4dac-754c-459296a46e7e"

[2020-09-22 16:45] baywet commented on #8
Hi @PIC16f841
Thanks for reaching out.
As this is not directly related to the Java SDK I have transferred your issue into this service issues repository.

[2020-09-22 19:34] MIchaelMainer opened #9 "RevokeSignInSessions() response content does not match CSDL"
This is broken in the generated client libraries.

CSDL says:

[code]

Expected response JSON is:
[code]

Actual response JSON says:
[code]

Reference https://github.com/microsoftgraph/msgraph-sdk-dotnet-core/pull/135

[2020-09-22 19:59] MIchaelMainer commented on #9
The documentation doesn't match either the actual response or the CSDL:

https://docs.microsoft.com/en-us/graph/api/user-revokesigninsessions?view=graph-rest-1.0&tabs=http

Expect a 204 response per documentation.

[2020-10-04 23:35] ificator commented on #11
There are no known issues with app-only tokens having issues accessing files by path. If someone can provide the value of the "request-id" response header for an unexpected 404 we can still in a bit further.

[2020-10-05 11:31] edwaretech opened #15 "findMeetingTimes do not reflect maxCandidates correctly"
### Expected behavior
findMeetingTimes working correctly with maxCandidates attribute

https://github.com/microsoftgraph/microsoft-graph-docs/blob/master/api-reference/v1.0/includes/snippets/java/user-findmeetingtimes-java-snippets.md

### Actual behavior
seems like findMeetingTimes api works only for maxCandidates between 0 and 10, if i want to list all available meeting times (maxCandidates set

[2020-10-05 22:36] MichaelPeter opened #19 "[Office 365] Getting Delta of Folder by Token causes query to be build wrong delta(token)"
Hello Community,

I think I found almost the same error in the java repo:
https://github.com/microsoftgraph/msgraph-sdk-java/issues/89

the only difference for me is that I want to get the delta by token for a folder:

[code]
now if I call this method:

`await reqBuilder.Delta().Request().GetAsync()`
everything works.

But if I pass the token I got on the last page of the request
`reqBuilder.Delta

[2020-10-06 09:57] harryboyne opened #16 "Can't select allowExternalSenders on group resource type"
**Describe the bug**
We are unable to select the allowExternalSenders property when querying a group.

**To Reproduce**
Steps to reproduce the behavior:
Run a GET using this URL: https://graph.microsoft.com/beta/groups?$select=displayname,allowExternalSenders
(issue can also be reproduced using https://graph.microsoft.com/v1.0/groups?$select=displayname,allowExternalSenders)

**Expected behavior**

[2020-10-06 19:09] baywet commented on #15
Hi @edwaretech
Thanks for reaching out.
After trying a couple of times on the graph explorer, I can never get more than 10 suggestions.
This is a limitation of the service and not related to the java SDK itself.
I have transferred this issue to a dedicated repo.

[2020-10-07 05:14] edwaretech commented on #15
I investigated it little bit more and when request body contains 1 time slot (for example 2020-10-01 - 2020-10-07) maxCandidates is reflected, but i have use case, when i send more time slots (10+ at least) and then the maxCandidates field is not reflected correctly, i found out that this is problem of API itself, not SDK as you said.. can you send me a link with this issue in that another repo?

[2020-10-07 08:15] MIchaelMainer commented on #16
This is an issue with the service API. That property is selectable on individual groups.

https://graph.microsoft.com/beta/groups/{groupid}?$select=allowexternalsenders

[2020-10-07 08:20] harryboyne commented on #16
Thanks Michael - we'll try that with a foreach instead.

[2020-10-07 11:09] baywet commented on #15
This is the issue, I transferred it to another repository from the Java SDK one.

[2020-10-08 07:27] MichaelBelgium opened #20 "Teamifying group: Failed to execute backend request"
I created a support ticket for this on azure but it got closed right away because i'm not a "unified support or premier customer" 🙄

When [creating classes](https://docs.microsoft.com/en-us/graph/api/educationroot-post-classes?view=graph-rest-1.0&tabs=http), afterwards I [teamify the class/group](https://docs.microsoft.com/en-us/graph/api/team-put-teams?view=graph-rest-1.0&tabs=http).

The problem

[2020-10-08 07:29] andreaslillich opened #18 "Missing property expiryTime in Oauth2PermissionGrants"
Microsoft Graph v3.15.0

When I try to set Oauth Permission I get the error "Missing Property expiryTime".
 var grant = new OAuth2PermissionGrant
 {
                    ClientId = thePrincipal.Id,
                    ConsentType = "AllPrincipals",
                    PrincipalId = null,
                    ResourceId = graphPerm.Id,
                    Scope = "User.Read"
 };
 await client.Oauth2P

[2020-10-08 08:47] MichaelBelgium commented on #20
Also a lot of these errors show up lately: `PHP message: PHP Fatal error: Uncaught GuzzleHttp\\Exception\\RequestException: cURL error 56: OpenSSL SSL_read: Connection reset by peer, errno 104 (see https://curl.haxx.se/libcurl/c/libcurl-errors.html)`
Is this due too much requests towards the api?

[2020-10-08 13:43] RegisStGelais commented on #17
@baywet ,
This is exactly the issue i had on my iOS implementation and I concluded that it was a service issue for business accounts.
See: [(https://github.com/microsoftgraph/msgraph-sdk-java/issues/525)]
Looks like it's still not fixed on the service side.

[2020-10-08 17:07] MIchaelMainer commented on #18
Thank you for bringing this to our attention. It looks like this is missing from both the [metadata](https://graph.microsoft.com/v1.0/$metadata) and the [documentation](docs.microsoft.com/en-us/graph/api/resources/oauth2permissiongrant?view=graph-rest-1.0).

[2020-10-08 20:31] MIchaelMainer commented on #19
@learafa Another example to support updating SharePoint delta features.

related: https://github.com/microsoftgraph/msgraph-beta-sdk-java/pull/20

[2020-10-08 20:40] MIchaelMainer commented on #20
We highly suggest that you create a team directly instead of of teamifying a group.

[2020-10-09 06:29] Vinctor opened #21 "message delta with $top query parameter doesn't work"
In our application , i want to get the message delta data with $top query parameter from server,

[code]

In the result from server, the message array data's length is 10(this is the default value), and there are more than 10 messages in the inbox. My settings did not work.

So Is this a server bug?
or Is this a mistake in my usage?

[2020-10-12 15:19] simon-gillespie-acrinax-com opened #23 ""BadRequest. Write requests are only supported on contained entities" when adding ChatMessage"
The below worked last week but noticed today that the below now causes "BadRequest. Write requests are only supported on contained entities." When adding ChatMessage -- has something recently changed on Graph to break the below ?

var chatMessage = new ChatMessage
{
    Body = new ItemBody
    {
        ContentType = BodyType.Html,
        Content = content
    }
};
var newMessage = await delegate

[2020-10-13 07:28] MichaelBelgium commented on #20
Looks like it's fixed when waiting 30 seconds between the create class request and teamify request, but the curl exception is still occuring. Google doesn't show any results containing that error, which is odd - like nobody in the world have had this error before

[2020-10-13 09:38] plamber opened #22 "Application permissions Group.ReadWrite.All or Directory.ReadWrite.All are not sufficient for Group deletion"
**Describe the bug**
Hello,
we are using the GRAPH SDK to perform a deletion of a Microsoft Group connected team. We are performing the actions using an application with app permissions Group.ReadWrite.All and Directory.ReadWrite.All.

We execute the operation using following lines of code: graphClient.Directory.DeletedItems[objectId].Request().DeleteAsync();

The endpoint returns the error:
 Micr

[2020-10-13 13:40] simon-gillespie-acrinax-com commented on #23
I have done some tests using the HTTP interface and it seems to me that you have changed the Graph API from accepting:
    https://graph.microsoft.com/beta/teams/chats/1234/messages
    (This is what the C# SDK URI generates which has been working up until a few days ago)

To now the URL to post a message has to be:
   https://graph.microsoft.com/beta/chats/1234/messages

So, the API has taken the

[2020-10-14 19:51] MIchaelMainer commented on #22
Can you check your permissions in the application registration and make sure the permissions align with the entities you are deleting? Specifically, that you have Group.ReadWrite.All permissions selected. Also, verify that your token has the correct scopes. Crack it with jwt.ms or base64 decode the second part of the token.

I see expected behavior in your Graph Explorer screen capture as Applicat

[2020-10-14 23:52] MIchaelMainer commented on #23
Thank you for posting this. You are likely correct that the API changed.

There is a discrepency in the documentation, [Send chatMessage in a chat](docs.microsoft.com/en-us/graph/api/chat-post-message?view=graph-rest-beta&tabs=http). The initial HTTP request section shows:

[code]
This looks like your example endpoint that works.

Then, in the example section of the doc, it shows:

[code]

This is

[2020-10-15 03:26] plamber commented on #22
Hi,
just recognized that the Example in the Graph explorer is wrong. I missed the permission there. With the Graph SDK, however, I am using following token:

Verified with jwt.ms:
{
  "aud": "https://graph.microsoft.com",
  "iss": "https://sts.windows.net/6d456013-c428-45bd-b889-9847da9e3ca6/",
  "appid": "4d0bc38d-b482-4806-b2ca-3ad8dea31684",
  "idp": "https://sts.windows.net/6d456013-c428-45bd-

[2020-10-16 21:45] PavelHudau opened #24 "Missing data in Microsoft.Graph.Event.OnlineMeeting.ConferenceId attribute, Microsoft.Graph 3.17.0"
**Describe the bug**

Value of `Microsoft.Graph.Event.OnlineMeeting.ConferenceId` is missing while ConferenceId value is present in `Microsoft.Graph.Event.Body.Content`.

**To Reproduce**

Steps to reproduce the behavior:
1. Create new online meeting using Microsoft.Graph.
[code]
2. `newEvent.OnlineMeeting.ConferenceId` is null however `newEvent.Body.Content` contains conference id.

**Expected be

[2020-10-19 16:19] anurag2994 opened #27 "Value of Microsoft.Graph.TeamsTab.TeamsAppId is missing in GET call for channel tabs"
**Describe the bug**
Value of Microsoft.Graph.TeamsTab.TeamsAppId is missing in GET call for channel tabs. It was present earlier. The value comes as null. Facing issue since past 3 days.

**To Reproduce**
Steps to reproduce the behavior:

 var channeltabs = client.Teams[teamId].Channels[channelId].Tabs.Request().GetAsync().Result;

**Expected behavior**
Microsoft.Graph.TeamsTab.TeamsAppId should

[2020-10-20 10:44] habex-ch opened #101 "List channels from teams with private channels fails for application permission"
**Describe the bug**
Since recently I get an "unauthorized" error if I want to get a list of the channels of a team if the team contains private channels and the request is send by an application permission.

The exception looks like this:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Team
2. Add at least one private channel
3. Register an app in azure portal and set the ap

[2020-10-20 17:41] muges01 opened #25 "I'm getting a 429 error when I'm trying to get items with filter from a large list."
**Describe the bug**
I'm getting 429 error when I'm trying to get items from a large list with filter.
I have a list which contains more than 50k items. The provider column is a lookup field to another small list.

I'm using the following filter to get the items
`'?$top=1000&$expand=fields&$filter=fields%2FMonth eq '202010' and fields%2FProviderLookupId eq '1'.`

**Observation**
When I have less t

[2020-10-22 14:51] phawrylak commented on #27
I confirm this bug. This breaks provisioning of tabs in PnP Provisioning Engine, because it compares teamsAppId when looking for existing tabs. It's null, so it creates duplicates instead of updating existing tabs. Please fix this as soon as possible.

[2020-10-22 15:00] MIchaelMainer commented on #27
Are you seeing the Id come back in the response if you view it via Fiddler?

[2020-10-22 15:03] phawrylak commented on #27
@MIchaelMainer, it's not included in response at all. I've made direct requests to Graph REST API - v1.0 and beta - and in both teamsAppId and teamsApp (with $expand=teamsApp) are null/not present.

I'd be grateful if you could provide some ETA on a fix as I don't know if I should make some workarounds by forking PnP code or wait.

[2020-10-22 19:10] JefTek opened #26 "AuthenticationMethods cmdlets using PATCH instead of PUT like the AuthenticationMethods API expects"
When using the Update-mgUserAuthenticationPhoneMethod cmdlet from Microsoft.Graph.Identity.SignIns modeule to update phone information,  the cmdlet fails with error:

No HTTP resource was found that matches the request URI
'https://mface.windowsazure.com/odata/users('user%40testdomain.com')/authentication/phoneMethods('3179e48a-750b-4051-897c-87b9720928f7')'.","MessageDetail":"No type was found th

[2020-10-22 19:23] MIchaelMainer commented on #24
@svpsiva It appears that event.onlinemeeting.conferenceId is no longer being populated.

[2020-10-22 19:38] MIchaelMainer commented on #25
Since this can be observed in Graph Explorer, we'll recategorize this as a service issue. The only concern for the client is that it is not handling the 429 and automatically retrying it. How did you discover the 429? Was it unhandled?

[2020-10-22 20:16] MIchaelMainer commented on #101
@nkramer This looks like a service issue for private channels. There is an issue with how we handle this as a client.

[2020-10-22 20:23] MIchaelMainer commented on #27
Please post this issue to [Microsoft Q & A](https://docs.microsoft.com/en-us/answers/topics/microsoft-graph-teamwork.html) using the microsoft-graph-teamwork tag. Please post the link to your Q & A post here as well.

[2020-10-22 20:27] MIchaelMainer commented on #24
@abheek-das It appears that event.onlinemeeting.conferenceId is no longer being populated. Can you loop in whomever owns this as it looks like we have a regression?

[2020-10-23 09:54] admin-excior opened #28 "client.api(resource).get() return incorrect event or meeting subject."
# Bug Report

## Prerequisites

-   [x] Can you reproduce the problem? Yes
-   [x] Are you running the latest version? Yes
-   [x] Are you reporting to the correct repository? Yes
-   [x] Did you perform a cursory search? Yes

For more information, see the `CONTRIBUTING` guide.

## Description

[I am using the Microsoft graph to get an event from a subscription. The event returns correctly except

[2020-10-23 10:52] anurag2994 commented on #27
Link to the question:
https://docs.microsoft.com/en-us/answers/questions/136807/value-of-microsoftgraphteamstabteamsappid-is-missi.html

[2020-10-23 19:54] nikithauc commented on #28
@admin-excior  Thank you for reporting this issue!

Please check if the following sources provides a solution-
https://docs.microsoft.com/en-us/exchange/troubleshoot/client-connectivity/calendar-shows-organizer-name
http://get-cmd.com/?p=4409
https://medium.com/meeting-room-365/issue-display-shows-organizers-name-instead-of-subject-731f4cf414ac

I found the links above when I searched for 'display

[2020-10-26 12:31] #28 closed, assigned to nobody

[2020-10-26 12:32] admin-excior commented on #28
Thanks it worked. I had to look a bit further and found this resource https://community.spiceworks.com/topic/1943690-the-term-get-mailboxpermission-is-not-recognized-as-the-name-of-a-cmdlet.

[2020-10-26 12:55] Yury3cx opened #29 "UnknownError during request to Microsoft.Graph API while updating subscription."
**Describe the bug**
Following code produces sometime "UnknownError":

        public async Task<IList<Subscription>> GetSubscriptionsAsync(CancellationToken token)
        {
            var subscriptions = new List<Subscription>();
            var request = _client.Subscriptions.Request();
            while (request != null)
            {
                var response = await request.GetAsync(toke

[2020-10-26 18:50] MIchaelMainer commented on #29
@Yury3cx Do you have a requestId and date from an exception that has occurred more recently?

[2020-10-27 07:00] Yury3cx commented on #29
@MIchaelMainer Here is the latest we have:

2020/10/26 05:00:30.886|25504|0031|Erro|Error running Office365 synchronization: Code: UnknownError
Inner error:
    AdditionalData:
    date: 2020-10-26T04:01:14
    request-id: 060c022f-543b-45a1-83ee-2d5e2f57dcfc
    client-request-id: 060c022f-543b-45a1-83ee-2d5e2f57dcfc
ClientRequestId: 060c022f-543b-45a1-83ee-2d5e2f57dcfc

2020/10/26 05:00:30.888|2

[2020-10-28 18:04] MIchaelMainer commented on #29
Thank you for the follow up information. This is an issue on the service -- I've opened an incident to track this. 211377488

[2020-10-29 09:19] habex-ch opened #30 "FilesFolder is not created automatically for new created private channels"
When I create a new private channel and then try to get the FilesFolder, it is always `null`. Even a few hours after creation, the FilesFolder is still `null`. It will only be created, when a user manually clicks on the Files tab in Microsoft Teams.

### Expected behavior
One of the following behavior is expected:
- The FilesFolder should automatically created after the private channels creation
-

[2020-10-29 23:38] muges01 commented on #25
Hi @MIchaelMainer ,

I was getting the 429 error code when I was querying.

How can I get the desired result from the large list? Is there another way?

[2020-11-03 07:50] victormarcus opened #32 "CompactToken parsing failed with error code: 80049217"
We are using the following libraries:
1. microsoft-sdk-java-auth 0.2.0
2. microsoft-graph 2.3.1
3. microsoft-graph-core 1.0.5

`java.util.List<String> scopes = new java.util.ArrayList<String>();
scopes.add("https://graph.microsoft.com/.default");
ClientCredentialProvider authProvider = new ClientCredentialProvider(clientId, scopes, clientSecret, tenantId, NationalCloud.Global);
IGraphServiceClient

[2020-11-03 10:25] nikithauc opened #34 "Response is undefined when trying to copy a drive item."
Thank you @victorreis for reporting this [issue](https://github.com/microsoftgraph/msgraph-sdk-javascript/issues/344#issuecomment-719645580).

Steps to reproduce -

- Try the [sample code](https://docs.microsoft.com/en-us/graph/api/driveitem-copy?view=graph-rest-1.0&tabs=javascript) to copy a drive item.
- Console log the response.
- The response is empty.

[2020-11-04 15:32] PavelHudau commented on #24
Same issue with Microsoft.Graph 3.19.0

[2020-11-05 18:17] SaktiPM commented on #89
Subscription ID deletion graph api results in `404 Not Found` in python. Do we still have an answer to it?

[2020-11-10 07:59] tcs-devel opened #46 "Subscribing to presence for multiple users"
Hi,

we are about to implement presence subscriptions using the BETA SDK (v0.32.-preview). During that some issues and questions came up which would require clarification. As we did not find the information in the documentation we opened an [SO](https://stackoverflow.com/questions/64702174/subscribing-to-presence-in-ms-graph-api-for-multiple-users) question - sadly without real useful answers yet.

[2020-11-10 20:06] nikithauc commented on #34
@victorreis

Please try explicitly setting the response type to RAW as follows -
[code]

This worked for me. Let me know if this helps.

[2020-11-11 15:34] ryanspletzer opened #33 "Connect-MgGraph : AADSTS70000: The provided value for the input parameter 'device_code' is not valid."
Anyone else noticing this? I'm seeing it on multiple machines, re-installed the Graph modules to troubleshoot but still persists. Cert-based auth still works, but device code flow doesn't.

![image](https://user-images.githubusercontent.com/1481108/98831252-4f611480-2409-11eb-836f-720947e81ea7.png)

[2020-11-11 15:53] ryanspletzer commented on #33
Tracing in Fiddler it appears that the correct device_code is being presented back to the Azure AD token endpoint on the first poll, but the subsequent poll leads to this error... could be an AAD issue?

[2020-11-11 17:38] peombwa commented on #33
@ryanspletzer This is an AAD service issue as it happens when calling `/oauth2/v2.0/token` endpoint.

I would recommend you open a support case for this via the Azure Portal. I'll also follow up with AAD team.

[2020-11-11 18:39] peombwa commented on #33
A workaround for this is to use `Connect-MgGraph` with `-TenantId` : ` Connect-MgGraph -TenantId {YOUR_TENANT_ID}`.

[2020-11-12 19:13] solbirn opened #31 "Intermittently failing requests to hybrid on-prem Exchange 2016 Mail API"
Graph API is intermittently failing requests to hybrid on-prem Exchange 2016 Mail API with error MailboxNotEnabledForRESTAPI.

POST https://graph.microsoft.com/v1.0/me/sendMail
404 Not Found
`{"error":{"code":"MailboxNotEnabledForRESTAPI","message":"REST API is not yet supported for this mailbox."}}`

Sample request:
client-request-id 1259cd5e-a09d-48ff-881b-2fe7468b9e02
x-ms-ags-diagnostic {"Serv

[2020-11-12 21:24] MIchaelMainer commented on #46
@jsandoval-msft Can you take a look at this?

[2020-11-12 21:49] MIchaelMainer commented on #32
Does it reproduce on the same users? Is it possible that there are users in an on-premise linked AD in your organization?

[2020-11-13 07:40] nikithauc commented on #34
The content-type is text/plain  in the response returned from the Graph API and the body is empty.
Workloads shouldn't return a Text/plain content type if they are not going to return a body.

[2020-11-16 13:36] victorreis commented on #34
@nikithauc , something curious happens when I tried this code.

At the first tests it works fine, the copy was made and the `res.headers.location` was returning the URL correctly. Every time I was deleting the file and copying through this code. So I started to do my error handling to the case of copy conflict. Naturally, I had to do a lot of tests. At some point the location passed to bring me `u

[2020-11-16 19:09] nikithauc commented on #34
@victorreis  Thank you for letting me know about this!
I will check and get back to you.

[2020-11-17 03:49] nikithauc commented on #34
@ificator Can you please help here with this issue?

[2020-11-17 11:22] habex-ch commented on #30
Any news on this?

[2020-11-18 09:15] triple888 commented on #30
+1 on this issue.

The Private Channel can be created via Graph however its associated SharePoint site (and underlying drive) is not provisioned until manually triggered within the Teams UI.

Any workarounds here to programmatically trigger the creation of the site?

[2020-11-19 02:53] sriram-d commented on #35
This is a bug in the service. Fix is ready, but rollout will happen post thanksgiving lockdown.

[2020-11-19 10:08] habex-ch commented on #101
Any news on this issue?

[2020-11-19 20:42] ificator commented on #34
It would definitely be unexpected for us to return a `202` response without a location header. Can you dump out all of the response headers when this occurs and add them to this issue? At the very least I'll need the `request-id` and `Date` headers to investigate.

[2020-11-19 21:13] nikithauc commented on #34
@ificator  We get a location header with a 202 response. There are two issues  which are as follows -
1. The content-type is text/plain in the response returned from the Graph API and the body is empty.
Workloads shouldn't return a Text/plain content type if they are not going to return a body.
2. https://github.com/microsoftgraph/msgraph-sdk-serviceissues/issues/34#issuecomment-728027043

[2020-11-19 22:52] ificator commented on #34
Point 2 suggests no location header doesn't it? Unless I'm misreading something.

But you're right, we should not set a content-type header if there's no body. It looks like the workload (SharePoint) is doing the right thing in that regard, and it's the Graph service itself that is adding the unexpected `Content-Type` header. We'll need that team to jump in and take a look.

[2020-11-19 23:15] nikithauc commented on #34
@ificator  You are right about point 2. Sorry for my confusion. @victorreis  Please provide the information mentioned in https://github.com/microsoftgraph/msgraph-sdk-serviceissues/issues/34#issuecomment-730625567. That would helpful!

I will check with someone from the Graph Service team about the first problem.

[2020-11-20 14:24] victorreis commented on #34
@nikithauc and @ificator, here it is:
![image](https://user-images.githubusercontent.com/8744178/99810282-44516700-2b22-11eb-88d7-4b10f4943132.png)

If I do the request in Postman it works fine. See:
![image](https://user-images.githubusercontent.com/8744178/99810760-f38e3e00-2b22-11eb-91a9-41ebac6b34ca.png)

[2020-11-20 16:38] ificator commented on #34
Thanks @victorreis - any chance you could make the headers print out the values instead of `[Array]`? I'll need to see the actual values to investigate.

[2020-11-20 16:58] victorreis commented on #34
@ificator , I don't know if I'm doing something wrong (please tell me if this is the case), but all the values listed with `[Array]` are undefined.
![image](https://user-images.githubusercontent.com/8744178/99827212-20008500-2b38-11eb-850f-4e5f489af8aa.png)

[2020-11-23 17:02] SimSpfx commented on #73
Hello,

Just wondering: is this fixed already?
I get the same errors on the next endpoint:

https://graph.microsoft.com/v1.0/me/transitiveMemberOf/microsoft.graph.group?$count=true

"message": "A resource of type 'microsoft.graph.directoryRole' was found in a resource set that otherwise has entries of type 'microsoft.graph.group'. In OData, all entries in a resource set must have a common base typ

[2020-11-24 08:28] MichaelBelgium opened #36 "cURL error 56: OpenSSL SSL_read: Connection reset by peer, errno 104"
When calling endpoints sometimes guzzle/curl comes up with this error. I assume this is on purpose as we're calling endpoints frequently and it's thinking it's some sort of attack? Which clearly isn't....

An example where this happens, I want to list every documentlibrary in every sharepoint site:
[code]

If i want to optimize this process, msgraph doesn't support it.

getting all sites = `GET /s

[2020-11-24 20:58] ificator commented on #34
A lot of those are probably inaccessible due to CORS (assuming you're running in a browser and not node.js), but location shouldn't fall into that category. I'm no expert in JavaScript / TypeScript and so if you give me a network trace (HAR, Fiddler, etc) I'd be able to make statements about whether you're seeing expected behaviour. A screenshot from Chrome / Edge / etc devtools that show the resp

[2020-11-24 21:45] nikithauc commented on #34
@victorreis
1. Can you give me the step to reproduce the problem you are facing? You mentioned here https://github.com/microsoftgraph/msgraph-sdk-serviceissues/issues/34#issuecomment-728027043
that you got the expected result at first but failed after multiple iterations. Can you please tell me what were the steps you were trying?

2. Are you trying this operation on only one drive item? Can you r

[2020-11-25 00:14] MIchaelMainer commented on #34
I'd like to add to Nikitha's question. In the case of the tests, are deleting and copying a file of the same name? Are you doing so each operation one after another? If you wait 1s, 5s, or 10s, do you see the same behavior?

[2020-11-27 13:10] MichaelBelgium commented on #36
So according to this (on [this ](https://docs.microsoft.com/en-us/graph/throttling#service-specific-limits) page) we can do 2000 requests per second.
![image](https://user-images.githubusercontent.com/8951045/100452776-18058f80-30ba-11eb-83f0-1bb417e33a53.png)

We don't reach that. So why does it reset our connection?
It also never responds with error code 429 Too Many Requests

[2020-12-01 16:57] MIchaelMainer commented on #30
@nkramer Do you have insight to share on this scenario?

Please consider x-posting to https://docs.microsoft.com/en-us/answers/topics/microsoft-graph-teams.html. Link back to this issue as well.

[2020-12-01 17:17] MIchaelMainer commented on #30
The work to properly support this scenario is planned for next quarter.

[2020-12-02 16:35] exaiwitmx commented on #73
Hello,

I get a similar error related to Messages - see:
https://stackoverflow.com/q/65094807/13039722

Is this the same problem or should I create a new issue?

Thanks.

[2020-12-02 20:05] MIchaelMainer commented on #73
@SimSpfx That looks like a separate issue. Open an issue on that and provide a requestId and the datetime from the error response.

@exaiwitmx This is a different but related issue. I've responded on StackOverflow. The service should not be returning an OutlookItem.

[2020-12-03 13:32] plamber opened #38 "Retrieve the count using the PageIterator class?"
# Feature Request
I am looking for a way to retrieve from the PageIterator class the count of records returned in case of a "count()" query operation.

Lets consider a query that returns the groups.

`
....
let response: PageCollection = await client
        .api("/groups")
        .select("id,displayName,description,mail,groupTypes")
        .orderby("displayName")
        .count(true)
        .g

[2020-12-03 15:35] habex-ch commented on #30
Do it still have to x-post this?

[2020-12-03 16:04] MIchaelMainer commented on #30
@habex-ch No, need to x-post.

[2020-12-04 07:39] davidkarlsen opened #37 "transitiveMemberOfAsGroup fails"
### Expected behavior

Lookup of groups should work:

[code]

### Actual behavior

[code]

[code]

[code]

### Steps to reproduce the behavior

[2020-12-04 09:04] davidkarlsen commented on #73
Seems to be same issue as https://github.com/microsoftgraph/msgraph-sdk-java/issues/586 - AD is drunk :-)

[2020-12-04 13:35] baywet commented on #37
Hey @davidkarlsen
Thanks for reaching out. After giving it a try it appears the service is not behaving like it should (according to the metadata).
The best thing for you to do is to contact [the support](https://developer.microsoft.com/en-us/graph/support) so the service engineers can investigate and solve the issue.
I'm leave this issue open for visibility but transferring it to the service issu

[2020-12-04 14:46] davidkarlsen commented on #37
I don't have access to the enterprise agreement in order to open a support case so I guess that's a dead end...

[2020-12-04 15:16] baywet commented on #37
I have created the incident 217025424 as I can reproduce the issue on my dev tenant, but incidents created by internal teams that are not linked to tickets from customers usually get a lesser priority.

[2020-12-04 22:47] nikithauc commented on #38
@plamber  I working on finding answers for your question. I will get back to you if I get something substantial.

[2020-12-05 04:29] nikithauc commented on #38
@plamber. The $count query options is not available for groups. This should handled by the API.

Adding to this issue, I found an inconsistency that is ->  `https://graph.microsoft.com/v1.0/me/events?$count=true&$select=id` does not return a count in the response but  `https://graph.microsoft.com/v1.0/me/events?$count=true` returns count properly.

[2020-12-05 07:09] plamber commented on #38
Hi @nikithauc,
the Group Graph Response returns the count in the header information. At least I am able to see it.

The problem I am facing is that this information is not exposed in the PageIterator class. At least I haven't found how to retrieve this information from there.

Thank you for your feedback

[2020-12-07 20:03] MIchaelMainer commented on #38
@plamber How did you get the count information in a group response? I try it and do not get the count in either the response body or headers. Can you give me your repro instructions? Can you repro with Graph Explorer?

https://developer.microsoft.com/en-us/graph/graph-explorer?request=groups%3F%24select%3Did%2CdisplayName%2Cdescription%2Cmail%2CgroupTypes%26%24orderby%3DdisplayName%26%24count%3Dtr

[2020-12-08 06:15] plamber commented on #38
@MIchaelMainer
I am not using Graph explorer to verify this. I run the code with this project's sdk and can reproduce it from there.

I am initiating the Graph client with consistencyLevel: 'eventual'. I need it to perform the complex query below:
```fetchOptions: { headers: { ConsistencyLevel: 'eventual' } }```

Then a Graph call using this syntax.
[code]
It results in this query.
[code]

When lo

[2020-12-09 03:44] Code2Life opened #42 "[BUG Report] SUPER LARGE body appears when set "Prefer" header with "outlook.body-content-type=text""
Hi, I found a issue which cause **huge performance impact** while calling a simple HTTP Graph API to retrieve one single calendar event.

### Expected behavior

If adding Prefer" header with "outlook.body-content-type=text" in request, the response should only retrieve small size of data, contains only **basic text information of the calendar event**

### Actual behavior

There were more than **13

[2020-12-09 06:38] MIchaelMainer commented on #42
Do you have a requestId from the response headers that you can share with us?

[2020-12-09 13:51] baywet commented on #42
Also, can you tell us which version of the SDK you are using? If not using latest (2.5.0 for this library and 1.0.5 for core) can you try the the latest versions and let us know if you're still experiencing this issue please?

[2020-12-10 07:17] Code2Life commented on #42
@MIchaelMainer  Hi, I managed to grab the Response object content from heapdump:

The request id is:
request-id:                  97715ca3-c55f-43fd-b80d-46ce7e33e653
client-request-id:        2ce84b38-b605-4a4e-8def-78d0004fdd3f
x-ms-ags-diagnostic:  {"ServerInfo":{"DataCenter":"EastUS","Slice":"SliceC","Ring":"5","ScaleUnit":"004","RoleInstance":"AGSFE_IN_4"}}

![image](https://user-images.githu

[2020-12-10 07:42] Code2Life commented on #42
btw, according to the screenshoot of heapdump above, the ContentLength from response is -1, it seems to be another abnormal behavior.

[2020-12-10 13:35] baywet commented on #42
We did get a community contribution to improve this method's reliability (see microsoftgraph/msgraph-sdk-java#566) that was released with 2.4.1. Can you try with the latest version (2.5.0) and see if you still run into the issue please?

[2020-12-10 18:17] ankku commented on #67
I am trying to upload a file in a folder in SharePoint Library and I am creating the folder before calling the api to upload. I am doing all this by calling graph api in powershell. And i get error as JSON payload is empty. Can someone tell me if thats the bug we are talking here , or is it something with my code??

[2020-12-11 01:06] Code2Life commented on #42
@baywet  cool, I will try the new version

[2020-12-11 08:27] nikithauc opened #39 "Outlook - Large file/attachment upload response contains pascal cased property while camel case is expected."
https://docs.microsoft.com/en-us/graph/outlook-large-attachments?tabs=javascript

Example from the documentation -
`HTTP/1.1 200 OK
Content-type: application/json

{
  "@odata.context":"https://outlook.office.com/api/v2.0/$metadata#Users('a8e8e219-4931-95c1-b73d-62626fd79c32%4072aa88bf-76f0-494f-91ab-2d7cd730db47')/Messages('AAMkADI5MAAIT3drCAAA%3D')/AttachmentSessions/$entity",
  "**ExpirationDat

[2020-12-11 22:54] nikithauc commented on #38
@plamber
@odata.count is available when the first request is made with the ConsistencyLevel: 'eventual' header. However, it doesn't appear that the count parameter is being returned by the API when the url in the @odata.nextlink is called.

A workaround that I suggest is you could capture the total count when making the first request and then work with a counter in your callback function if that i

[2020-12-12 06:28] plamber commented on #38
Hi,
Do you have a suggestion how to achieve this with the sdk?

I am planning to use the iterator and havent found a way to get the header variables

Thank you for your suggestion

Br

[2020-12-15 08:21] nikithauc commented on #38
Do you want the total count of the all events at once  or the count when when everytime the 'odata.nextLink' is called?

To access the values in headers, I would suggest to try setting ResponseType as RAW -> https://github.com/microsoftgraph/msgraph-sdk-javascript/blob/dev/docs/GettingRawResponse.md and then access the response headers.

[2020-12-16 04:49] plamber commented on #38
@nikithauc thank you. Will give it a try

[2020-12-16 04:49] #38 closed, assigned to nobody

[2020-12-21 01:07] Code2Life commented on #42
@baywet  the new SDK version took no effect, HUGE response still exists. btw, we tried to remove the header: "Prefer" ="outlook.body-content-type=text", also no effect on this issue.

[2020-12-21 12:29] jansohn commented on #41
@baywet please re-open, we are still seeing this issue with microsoft-graph 2.4.1 and msal4j 1.8.0. This has not been fixed...

Edit: I've changed to your proposed `.filter()` method without any changes in the behavior.

[2020-12-21 13:36] baywet commented on #41
@jansohn What happens if you remove the top statement? (it'll result in more requests, but those should return faster)
How many object (users, groups, applications...) are present in this tenant?
Have you contacted support for that issue? It looks like it might be a data related issue with a large number of objects?
The filter change it simply to make the code easier to write and maintain, no beha

[2020-12-21 14:02] jansohn commented on #41
- no change when removing the top statement
- 164113 users, 138705 groups (I'm not allowed to count the number of applications...)
- I haven't contacted support so far except by opening this GitHub issue
- Search result size is about 5600 users, nothing special in my opinion

[2020-12-21 14:10] baywet commented on #41
Thanks for providing the numbers. This qualifies as a large tenant and probably explains why the service is not behaving like it should. FYI this is behaving properly on a "regular developer tenant".
Follow up questions:
- is the sequence always failing, only sometimes, only rarely?
- if the sequence completes on some instances, how long does it take to complete?

I'm going to transfer that issue

[2020-12-21 14:17] jansohn commented on #41
- it's always failing to retrieve the results
- we currently retry the calls until they finally finish which takes about 3 minutes

Where/How do I contact the official support?

[2020-12-21 14:18] baywet commented on #42
Thanks for trying with the newest version.
We (the SDK team) don't have access to your tenant's data for obvious data ownership and privacy reasons. Do you have any visibility over why this message is 100+ MB in size? Any large picture that's inline? or a lot of pictures maybe? Can you access that message via OWA? if so does looking at the source of the message show anything in particular?
Can you

[2020-12-21 14:19] baywet commented on #41
thanks for the additional information, see the two boxes at the bottom [of this page](https://developer.microsoft.com/en-us/graph/support). It's important that you contact support from the tenant that's experiencing the issue, so the support team can access the logs of that tenant.

[2020-12-21 14:31] jansohn commented on #41
Seems like I can only open a ticket in the Azure Admin Center concerning billing and subscription management which both do not seem to fit...

[2020-12-21 14:53] baywet commented on #41
A tenant this large should have a premier support contract and you (or a tenant admin) should be able to open a ticket through the Office 365 admin portal.

[2020-12-21 14:59] jansohn commented on #41
Yes, I'm "just" a developer so I do not have access to the admin portal. I'll see what I can do but would appreciate it if this can be looked at either way.

[2020-12-21 15:06] baywet commented on #41
Unfortunately we (the SDK team), don't have access to the backend services logs. If we can't reproduce the issue on one of our own developer tenants, the only way that investigation can happen is if the support team engages the right backend service team through a support ticket.

[2020-12-22 01:04] Code2Life commented on #42
You are welcome, but I couldn't access the data for privacy reasons, either, since it's a customer of our OAuth app. All info provided before were grabbed from logs and heapdump, I think it's enough because the request id and event ID were printed.

I plan to dismiss the responses of "Content-Length=-1" to avoid this issue, which caused high cpu consumption, though it might affect user experiences

[2020-12-22 01:06] Code2Life commented on #42
Could you please escalate the issue to serverside developers, to find out in what condition, the response gets Content-Length=-1 header ? I still suspect that the issue is caused by serverside, rather than SDK according to personal service development experiences.

[2020-12-22 13:16] baywet commented on #42
We (the SDK team) have little access to backend logs and support tickets raised by customers are a higher priority than the ones we raise.
It'd be much better if you (or the customer) raised a [support ticket](https://developer.microsoft.com/en-us/graph/support) from the impacted tenant. Not only it'll grant the support team access to the logs of the tenant but also it will have a higher investiga

[2020-12-26 19:42] MichaelPeter commented on #19
Hey if someone runs in the same issue, I found a WORKARROUND:
Not a solution, this still NEEDS TO BE FIXED.

Instead of trying to extract the token and pass it as a parameterI found in Azure Functions a part which solves it:
 https://github.com/OneDrive/onedrive-data-robot-azure-function/blob/master/AzureFunction/run.csx

First extract like in line 208 the deltaLink Url, if it is set on the last p

[2020-12-28 21:06] Dev-Mom commented on #44
**+1 on this request.**

Specifically, I cannot find a way to distinguish between Teams enabled groups and non-Teams enabled groups without executing an additional call.  The data appears to [already be available](https://docs.microsoft.com/en-us/graph/teams-list-all-teams?context=graph%2Fapi%2F1.0&view=graph-rest-1.0) within the API endpoints, but has not been surfaced for the GraphClient.  (Unle

[2020-12-29 20:22] aishwaryaumachandran opened #57 "Issue with up to date information from the API"
We have been using the following API that retrieves the user's profile information based on the information entered on Delve

https://graph.microsoft.com/beta/users/MiriamG@M365x214355.onmicrosoft.com/profile

It looks like the API does not reflect the up to date information from the Delve profile. Not sure if it is a bug or if there is a specified period of time I have to wait for the information

[2020-12-30 06:47] NganHaTran commented on #43
Any update, I got same error when get photo from AD B2C

[2020-12-30 22:18] MIchaelMainer commented on #44
@TracyGH et al.

This functionality is available in both the beta and v1.0 endpoints. It is not described in the v1.0 metadata (which we use to generate the model) and that is why you aren't seeing this in the object model. Until this is resolved, you could use the beta client or:

[code]

[2020-12-31 00:14] MIchaelMainer commented on #19
@MichaelPeter Thank you for providing a workaround.

[2020-12-31 16:12] Dev-Mom commented on #44
Thanks @MIchaelMainer!
And here is [a related SO thread](https://stackoverflow.com/questions/65484476/ms-graph-how-to-distinguish-teams-enabled-m365-groups-using-graphclient) for reference.

[2020-12-31 17:44] MIchaelMainer commented on #44
Thank you for the link to the SO thread. Interesting (and bothersome) to see so many properties missing from the v1.0 schema. I'll x-post my answer here on SO.

[2021-01-04 18:36] tj-senserva opened #105 "Odata Expand of the 'TransistiveMemberOf' property of Users endpoint does not return same result as the direct endpoint"
**Describe the bug**
When using the Odata Expand of 'TransitiveMemberOf' on the Users endpoint, it returns only the direct relationships, not the nested relationships. This does not match the content of the direct User TransitiveMemberOf endpoint, which does have direct & nested relationships.

**To Reproduce**
Steps to reproduce the behavior:
In the Azure Portal
- Add a user as a member to Group

[2021-01-06 10:33] MichaelBelgium commented on #36
Looks like it stopped raising that error after 3 december. Unknown how it got fixed, most likely on Microsoft side.

[2021-01-06 10:33] #36 closed, assigned to nobody

[2021-01-08 16:14] ZuperKeurZ commented on #122
Running into the same problem.

Can we do something to help resolve this issue?

[2021-01-09 12:36] ryanspletzer commented on #33
Probably can close this, yeah?

[2021-01-11 13:09] tcs-devel commented on #46
Any updates on this?

[2021-01-11 16:25] peombwa commented on #33
Thanks @ryanspletzer!! Closing since this has now been fixed.

[2021-01-11 16:25] #33 closed, assigned to nobody

[2021-01-13 08:37] andrueastman commented on #82
Ping @JeremyKelley

[2021-01-14 18:11] baywet commented on #37
Hi @davidkarlsen
I got a response from the service team, the request will work using the Mezzo APIs
Http:
[code]

[code]

They are still working on fixing the response when using the "classic" identity service so it returns a proper error message.
Thanks for the patience

[2021-01-15 06:18] andrueastman commented on #46
Ping @jsandoval-msft

[2021-01-25 16:57] aishwaryaumachandran opened #56 "Timezones not reflected correctly based on daylight savings"
This is specifically with the Email Graph Service

The time of the email sent/received is not correctly reflected based on the timezone (Central Eastern Standard Time)
We have been noticing the time being returned an hour before the actual time in the Europe/Zurich region from the Email Graph API.

[AB#7762](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/ed

[2021-02-01 22:35] ctuckz opened #55 "Unable to create Schemas due to lowercase property types"
### Expected behavior
Should be able to create a schema for an external connection using the SDK: https://docs.microsoft.com/en-us/graph/api/externalconnection-post-schema?view=graph-rest-beta&tabs=java

### Actual behavior
Receive a 400 error due to the `type` field of the properties being lowercase:
[code]

### Steps to reproduce the behavior
Using 0.3.0-SNAPSHOT, although I saw the same behavio

[2021-02-02 14:09] baywet commented on #55
Hi @ctuckz
Thanks for reaching out.
This issue is caused by the fact this enumeration is not following OData conventions on the service side.
It should be defined (and accept) lower camel casing but it's defined using upper camel casing. (search for `Int64Collection` in [the metadata](https://graph.microsoft.com/beta/$metadata))

I'll try to get in touch with the service team so they can address t

[2021-02-02 14:30] baywet commented on #55
for internal readers: this seams to belong to jkatti's team, reached out internally.

[2021-02-02 17:39] baywet commented on #55
update: the service team is working on it.

[2021-02-02 19:03] ctuckz commented on #55
Thanks for looking into this so quickly @baywet!

[2021-02-04 10:29] twentytwokhz commented on #26
This seems to fail in a similar manner when using the Microsoft.Graph.Beta 0.36.0-preview SDK

[2021-02-04 20:27] JefTek commented on #26
@darrelmiller Just pinging to see if this this item has been triaged yet?  I saw it was removed from the issued to triage but I don't know that it progressed further.

@whiterosethorn

[2021-02-08 18:10] ddyett commented on #56
this is a service issue we cannot do anything about on our end.

[2021-02-10 15:59] BrennanAldridge opened #58 "400 Error: /sites/{id}/drives/{id}/items/{id}/invite"
I have a SPFX webpart that shares files with external users. I am Posting to sites.drives.items.invite endpoint with JSON body as follows:

{
"recipients": [
{
"email": "user@domain.com"
}
],
"message": "Test",
"requireSignIn": true,
"sendInvitation": true,
"roles": [
"read"
]
}

I am seeing some odd behavior based on the email address property in JSON. Here is the scenario:

1. Sharing with compa

[2021-02-16 11:53] sirmrowa opened #107 "OneDrive. Access to files with a long filename using a path"
**Describe the bug**
I have a filename on the root of OneDrive. The filename has a long name, 344 characters below a maximum 400 characters (1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111112222222222222222222222222222222222222222222222222233333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333444444444

[2021-02-25 01:28] ctuckz commented on #55
Hey @baywet, do you have a rough ETA for when this will be fixed?

[2021-02-25 16:07] baywet commented on #55
@ctuckz thanks for the reminder. I just chatted with the service team. Their answer was "2 weeks".

[2021-03-04 07:37] Krukovich commented on #75
I am creating a bot and I have the same error, but if I create an administrator account at Microsoft, then this error does not occur and the team is created, but this reason is not suitable for an ordinary user, there may already be a solution to this problem.

[2021-03-10 07:27] mortenlerudjordet commented on #26
Running into the same issue

[2021-03-11 21:14] baywet commented on #55
@ctuckz the service has been fixed from what I can see, can you give it another try and let me know the result please?

[2021-03-15 23:26] ctuckz commented on #55
Hey @baywet, everything seems to be working correctly when I try it too. Thanks for fixing this!

[2021-03-15 23:32] baywet commented on #55
Thanks for letting us know! Closing.

[2021-03-15 23:32] #55 closed, assigned to baywet

[2021-03-18 12:30] KeyserDSoze opened #64 "Mention a team or channel in teams conversation"
**Describe the bug**
It's not possible to add a mention to a team or channel because the identityset model misses the object Identity Conversation. In the graph api we need to send the conversation parameter in json to mention a team or channel. Probably the problem is in the metadata file https://graph.microsoft.com/v1.0/$metadata

**To Reproduce**
Steps to reproduce the behavior:
1. Use the meth

[2021-03-21 00:39] senthilmk commented on #75
Its been a year and no updates? Product teams sleeping at the wheel?

[2021-03-22 19:02] MIchaelMainer commented on #75
@Krukovich what permissions are you using?

I'm able to use a regular (non-admin) organizational user with the Teams.Create scope to create a team with this example:

[Example 1: Delegated permissions](https://docs.microsoft.com/en-us/graph/api/team-post?view=graph-rest-1.0&tabs=http#example-1-delegated-permissions)

{
    "template@odata.bind": "https://graph.microsoft.com/v1.0/teamsTemplates('st

[2021-03-23 11:26] Krukovich commented on #75
@MIchaelMainer Sorry I didn't answer right away, just a lot of work

**Team.Create**
Allows the app to create teams on your behalf. Allows the app to create teams on your behalf.

**Group.ReadWrite.All**
Allows the app to create groups and read all group properties and memberships on your behalf. Additionally allows the app to manage your groups and to update group content for groups you are a mem

[2021-03-23 17:10] MIchaelMainer commented on #75
All good. You've got plenty of scope. That shouldn't be an issue. One thing I often wonder of in cases like this is has there been any user interacting with the account and apps before the call has been made. I ask in the case the applications have any JIT provisioning that requires a user's interaction.

I'm sorry, I don't have any insight into the function of the API on the backend. I will leave

[2021-03-25 17:40] PavelHudau commented on #24
The issues has been resolved. Seems to be backend bug.

[2021-03-25 17:40] #24 closed, assigned to nobody

[2021-03-31 14:06] jcze91 opened #59 "Error 400 while trying to access a shared drive item content"
**Describe the bug**
Hello,
I'm trying to access a shared drive item via Microsoft Graph API by using the C# SDK.
It's ok sometimes, but randomly it's failing on 400 error.

**To Reproduce**
Here is my code :
` var graphClient = new GraphServiceClient(CreateAuthProvider());
                    var token = $"u!{Convert.ToBase64String(Encoding.UTF8.GetBytes(url)).TrimEnd('=').Replace('/', '_').Repla

[2021-03-31 22:27] MIchaelMainer commented on #59
Do you retry on that 400 status code and if so, does it successfully return? Does this error occur when trying to access the same item?

[2021-04-01 07:23] jcze91 commented on #59
No, there isn't retry on 400 error and we're not trying to access the same item.
For additional context, we try to fetch multiple drive items (10 to 20)  consecutively, and each time we time to reproduce it, the 400 error is on a different item.
I'll try to fetch them via one batch Graph API call

[2021-04-01 09:11] jcze91 commented on #59
When trying with batch API call, I still have some request ending in 400 error Bad Request, so I suppose it's not a concurrency problem.

I could found a workaround by using a retry policy on the call, but it's not a very suitable patch.
`                var graphClient = new GraphServiceClient(CreateAuthProvider());
                var token = $"u!{Convert.ToBase64String(Encoding.UTF8.GetBytes(ur

[2021-04-01 17:48] MIchaelMainer commented on #59
@JeremyKelley can you comment on any changes in the service API that may cause intermittent errors when using shared files API?

[2021-04-08 10:25] sirmrowa opened #62 "[Client bug]: "InternalServerError / Stream read failure" when put stream from HttpClient of size almost 4MB to OneDrive"
When trying to upload a 4 193 997 bytes length file to OneDrive I get `InternalServerError / Stream read failure`. Stream to file is from `HttpClient` that its gets from another service. I prepare some code to show the problem.

[code]
When a file is a one-byte length less then everything works OK. I notice that if the protocol is HTTPS then the border file size is smaller.

**To Reproduce**
1. Pu

[2021-04-14 18:09] rvicoqbi commented on #74
Hi, I am having same response as @greenygh0st with some files copy operation. Do you have any update on this issue?

[2021-04-15 11:18] dansmitt opened #88 "Delete of MobileAppRelationship not working"
**Case 1: Application has a parent MobileAppRelationship and a child MobileAppRelationship. You want to delete the child MobileAppRelationship.**
**Error:**

Microsoft.AspNetCore.Diagnostics.DeveloperExceptionPageMiddleware[1]
      An unhandled exception has occurred while executing the request.
Status Code: BadRequest
Microsoft.Graph.ServiceException: Code: BadRequest
Message: {
  "_version": 3,

[2021-04-16 18:15] MCKRUZ opened #61 "Folder location for this channel is not ready yet, please try again later."
**Describe the bug**

So after creating a channel in MS Team, I am making a graph API call -> GET /teams/{id}/channels/{id}/filesFolder

Because, I want the drive Id, for creation of folders inside the channel. But this API is failing

{
"error": {
"code": "NotFound",
"message": "Folder location for this channel is not ready yet, please try again later.",
"innerError": {
"date": "2021-03-22T13:01:

[2021-04-16 19:58] jeromekol opened #60 "EntitlementGrant being updated or deleted is not found"
We have an AAD Application with several app roles and we assign those roles to users. A couple days ago, we started to receive errors on the Graph API when we try to delete certain assignments. The error looks like this:

    "error": {
    "code": "Request_BadRequest",
    "message": "EntitlementGrant being updated or deleted is not found.",
    "innerError": {
      "date": "2021-04-16T11:33:23"

[2021-04-19 07:38] jeromekol commented on #60
in case its important for tracing, we have opened an official support request with MSFT to get this investigated.

[2021-04-19 22:41] patrick-ptml commented on #60
Also getting this error via PowerShell. Happy to provide Reqest ID's if required

[2021-04-20 07:51] Starfox64 commented on #60
Can confirm, this also affects the AAD Enterprise Applications Dashboard.

[2021-04-20 11:19] jeromekol commented on #60
tried the same and we got the exception there as well

[2021-04-20 15:00] cmjoneslutron commented on #60
We're also seeing the same issue.

[2021-04-20 15:13] cmjoneslutron commented on #60
Also for what it's worth, I can't make the chance using the Azure portal either.
<img width="344" alt="Screen Shot 2021-04-20 at 11 11 49 AM" src="https://user-images.githubusercontent.com/19861384/115420709-5d416f80-a1c9-11eb-93ef-49024ee47d21.png">

Edit: We've separately reported the issue to Azure support

[2021-04-20 15:42] knlambert commented on #60
Same issue on my side since yesterday using the Graph API :(

[2021-04-20 17:20] ilirianluta commented on #60
I can also confirm that I'm getting the same error in at least three different approaches:
1. Removing a user from the Enterprise Application assignment
2. Accessing the application assignment from the user's AzureAD profile
3. Powershell via `Remove-AzureADUserAppRoleAssignment -ObjectId $objectID -AppRoleAssignmentId $assignmentID`

Error in PowerShell:
[code]

JSON from GUI:
[code]

[2021-04-21 07:19] jibinpb commented on #60
Microsoft support team confirmed it as a backend issue and their product team is fixing it.

[2021-04-21 16:49] Eric2XU commented on #60
Having same issue, cant remove those accounts in the Azure Portal UI ether.

[2021-04-22 01:00] gmantri commented on #60
I am having the same issue. Posted a question on Stack Overflow for the same - https://stackoverflow.com/questions/67182043/unable-to-remove-app-role-assignments-using-graph-api-getting-entitlementgrant.

Based on the answer provided, I deleted the enterprise application and recreated it yesterday. I added app role assignment and was able to delete them successfully.

However this morning when I t

[2021-04-22 06:15] supersime opened #63 "Case sensitivity in the batch endpoint causes error: Error: Request Id <id> has to be unique in a batch"
We are sending `POST` requests to the `/$batch` endpoint of the graph to retrieve multiple calendar events. A request looks like this:

[code]

Notice that the "url" and "id" in the two events are **almost** identical... the 5th last character is "g" in the first request, and "G" in the second request. The "id" we pass in, is the id of the outlook calendar event.

The graph sdk responds with the f

[2021-04-22 06:56] jeroenwo commented on #60
I tried it 10 minutes ago and it worked (for me). Seems the issue is fixed.
[code]

[2021-04-22 07:17] jeromekol commented on #60
@jeroenwo was that an assignment that did not work previously? I still have the same issue on my testing tenant

[2021-04-22 07:22] gmantri commented on #60
@jeromekol ... same here. I created an app role assignment yesterday. Just tried to delete it through Azure Portal. Same error. I am wondering if anybody from the product team is on this thread. It would be nice if they can provide a status update.

[2021-04-22 08:34] jeroenwo commented on #60
@jeromekol Yes, yesterday the provided PowerShell command failed with the same message as the issue title. This morning it worked. Also checked the app role assignments using `Get-AzureADUserAppRoleAssignment -ObjectId "[guid]"` and confirmed that they were deleted.

[2021-04-22 11:36] ilirianluta commented on #60
It worked for me on GUI. They probably managed to fix this even for SDKs.

[2021-04-22 11:53] jeromekol commented on #60
okay, works on my end as well. Still get some intermittent errors when I try to remove in a quick manner but retrying does the job.

[2021-04-22 12:33] gmantri commented on #60
Still no luck for me unfortunately. I will keep on trying.

[2021-04-22 16:08] DavidParkerUk opened #65 "Microsoft Graph SDK - new issue uploading files to OneDrive since 16/17 April 2021"
**Describe the bug**
Since the weekend, one of our web applications is failing to upload files to OneDrive. It's a live application that has been in use for some time and which we haven't made any recent changes to.
The application is performing chunked uploads using CreateUploadSession(), GetUploadChunkRequests() and GetChunkRequestResponseAsync() as the files can potentially be large. Upon the c

[2021-04-22 16:12] Starfox64 commented on #60
It is working for me through the AAD Admin Portal now.

[2021-04-23 01:30] jibinpb commented on #60
Yes issue is resolved, delete operation started working from both portal & graph api.

[2021-04-23 11:58] gmantri commented on #60
Working for me as well. Just tried deleting an app role assignment from portal and it worked.

[2021-04-26 20:41] nikithauc commented on #63
@supersime Thank you for reporting this issue!

Can you please provide a  request-id and a client-request id for this error?

[2021-04-26 21:59] nikithauc commented on #63
@supersime

https://docs.microsoft.com/en-us/graph/json-batching?context=graph%2Fapi%2F1.0&view=graph-rest-1.0

The ids are not the event ids. Can you please trying changing the values of the ids and let me know if that works?
https://docs.microsoft.com/en-us/graph/sdks/batch-requests?tabs=typescript

[2021-04-27 00:19] supersime commented on #63
Thanks @nikithauc ... yes I certainly understand the event ids do not need to be the ids... we are, however, using the event ids as the ids because this makes the correlation easier for us (without an interim step to generate a new id just for the batch post).

I have just reproduced as follows:

[code]

and the error response:

[code]

The issue is only because there are two ids that are identica

[2021-04-27 15:53] MCKRUZ commented on #61
Nothing?

[2021-04-27 16:06] MIchaelMainer commented on #64
This looks like we need to update the v1.0 documentation and metadata. @nkramer can you take a look at this and confirm that we need to update the v1.0 documentation and metadata to contain a description of ConversationIdentitySet? It is defined in beta.

https://docs.microsoft.com/en-us/graph/api/resources/identityset?view=graph-rest-beta

[2021-04-27 16:30] MIchaelMainer commented on #65
@JeremyKelley @ificator Has there been any issues in OD4B since April 17th?

[2021-04-27 17:53] ificator commented on #65
I'm not aware of any changes that would correlate to that timeline. And unfortunately that response really doesn't give us much to work with. There really are very few scenarios that would trigger that kind of failure so I'm going to take a guess and say that it's probably a lack of TLS1.2 support.

It's broadly talked about here: https://docs.microsoft.com/en-us/microsoft-365/compliance/prepare-t

[2021-04-27 18:57] ificator commented on #65
I've now confirmed that there was indeed a rollout that disabled tls1.0 and tls1.1 for a subset of SharePoint tenants that aligns with your timeline.

[2021-04-27 19:19] MIchaelMainer commented on #65
They are using a very [old version](https://www.nuget.org/packages/Microsoft.Graph/1.7.0) of the client. TLS 1.2 is supported by default in .NET 4.6 or greater. With .NET 4.5, it is supported, but not by default and must be opted-in. @DavidParkerUk is your application running on .NET 4.5?

[2021-04-28 10:56] DavidParkerUk commented on #65
I've had a look and can confirm that the application is running on .NET 4.5.
Thanks for the responses, it does sound like a TLS related issue.

[2021-04-28 11:37] DavidParkerUk commented on #65
Setting the SchUseStrongCrypto=1 and SystemDefaultTlsVersions=1 registry keys on the client appears to resolve the problem.

[2021-04-28 15:36] ificator commented on #65
Thank you for confirming @DavidParkerUk, and for letting us know your solution.

[2021-04-28 22:33] nikithauc commented on #63
@supersime The  Graph API design intends to be case insensitive. The issue you reported highlights a bug and Thank you for reporting it!
I am following up on this issue and I will provide an update as and when I learn more about this.

[2021-04-28 23:55] #65 closed, assigned to nobody

[2021-04-29 00:59] supersime commented on #63
Thanks @nikithauc ... I assume you mean the design intends to be case *sensitive*? That's great news... I look forward to hearing about its resolution.

[2021-05-04 06:53] mariusstaub opened #79 "Convert Word Document to PDF: Font is missing in PDF"
**Description**
We use the Microsoft Graph API [Download a file in another format](https://docs.microsoft.com/en-us/graph/api/driveitem-get-content-format?view=graph-rest-1.0&tabs=http) to convert Word documents to PDF.

We use the "Wingdings 2" characters "\u0053" and "\u00AE" of "Wingdings 2" to insert checked and unchecked checkboxes. Since a few days ago the font "Webdings" was embedded in the

[2021-05-04 08:08] mirkori commented on #82
We also see this issue. However, the SharePoint site is created, just the Link in Teams to the connected SharePoint site is not set up.

The Files Tab initially shows "We are setting up your file directory".

After clicking on the Files Tab, something in the background seems to happen, that sets up the link to SP and also the Files Tab works after leaving and coming back to the Tab.

We also see t

[2021-05-04 08:48] dansmitt commented on #88
@andrueastman any updates here? We need to implement this for our project.

[2021-05-04 15:30] mdissel opened #78 "Create a new Office365 Group in dutch/other language"
We're trying to create new office 365 group and set:

`preferredLanguage = "nl-NL";`

It's failing with the message:

[code]
[AB#9261](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/9261)

[2021-05-06 04:34] AndrewStrickland commented on #60
This is not working for me yet. My tenant is in the AzureUSGov environment, for what its worth.

[2021-05-12 14:36] MIchaelMainer commented on #81
@mlafleur Is this scenario expected to be supported?

[2021-05-14 07:23] jakobnotseth commented on #81
This is a normal scenario, you are required to add classes first using the education graph API. Then you can provision class teams by team enabling the office 365 groups representing your classes. Mind you need a edu-tenant in order to use this API. Why Microsoft has decided this a a requirement to use class templates is beyond most of us, but atleast this should get you somewhat further. It is so

[2021-05-18 05:38] beausmyth1990 opened #86 "Graph Change Notification Lifecycle Event 'subscriptionRemoved' not triggered on password reset"
As per the documentation found [here](https://docs.microsoft.com/en-us/graph/webhooks-lifecycle), a password reset 'should' (or rather, is expected to) invoke a 'subscriptionRemoved' lifecycle event which Graph POSTs to the registered lifecycleNotificationUrl. this is not the currently observed behaviour when using the E5 Developer Program account ([ref](https://developer.microsoft.com/en-us/micro

[2021-05-18 09:42] mariusstaub commented on #79
It seems to work again.

[2021-05-18 09:42] #79 closed, assigned to nobody

[2021-05-18 14:59] agonzalezm opened #95 "Graph beta retrieve auditlogs, sign-ins or user lastlogin fails with error need premium license"
I am using graph sdk 4.0-preview4 to get last user logon or listing signings report but all these operations:

graphClient.Users.Request().Select(s=> new { s.DisplayName, s.SignInActivity })
graphClient.AuditLogs.SignIns

Fails with error:

Microsoft.Graph.ServiceException: 'Code: Authentication_RequestFromNonPremiumTenantOrB2CTenant
Message: Neither tenant is B2C or tenant doesn't have premium li

[2021-05-24 07:32] andrueastman opened #85 "EducationAssignmentStatus does not include the "scheduled" value in the metadata."
According to the metadata, the EducationAssignmentStatus enum does not contain the "scheduled" value.
![image](https://user-images.githubusercontent.com/6464005/119312277-d4f83380-bc7a-11eb-919b-a1069752c99e.png)

However, the docs include the value as well.
https://docs.microsoft.com/en-us/graph/api/resources/educationassignment?view=graph-rest-beta#properties

It is also seen that the api does r

[2021-05-26 14:38] andrueastman commented on #95
Hey @agonzalezm,
Thanks for raising this issue. Are you able to provide more details on how you are setting up the AuthProvider/TokenCredentials to access the token in the app you are building?

[2021-05-26 14:55] agonzalezm commented on #95
We are using clientsecret auth and beta sdk and most of things works like listing AD users, but last signin for users doesnt work.

var clientId = "xxx";
            var tenantID = "xxxxxx";
            var clientSecret = "xxxxx";
            IConfidentialClientApplication confidentialClientApplication = ConfidentialClientApplicationBuilder
                .Create(clientId)
                .WithTe

[2021-05-26 15:47] andrueastman commented on #95
Is the `tenantID` the same tenant that the users are part of?

This is the same error documented here.
https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/howto-configure-prerequisites-for-reporting-api#error-tenant-is-not-b2c-or-tenant-doesnt-have-premium-license

[2021-05-26 16:00] agonzalezm commented on #95
Yes, The tenantID is the tenant from where I am listing AzureAD users and trying to get last signin time.

Yes that is the error, but getting last signing doesnt require AzureAD P1 license anymore, I think that is outdated document.

We have Azure AD for Office 365 and I can list last signin reports in Azure Portal with my global admin user, I gave application api permissions global administrator

[2021-05-26 16:31] andrueastman commented on #95
Thanks for the info about trying it out with the enabling the P1 licence.
For some reason then, the issue must be with the token you are acquiring via the SDK.

Did you acquire the token for this call via the SDK? Also, have you added [these graph permissions](https://docs.microsoft.com/en-us/graph/api/signin-list?view=graph-rest-beta&tabs=http#permissions) to your app registration?

[2021-05-26 16:35] agonzalezm commented on #95
Yes my registered application has permissions.

Application | AuditLog.Read.All, Directory.Read.All

![image](https://user-images.githubusercontent.com/2251991/119700161-2f4bec80-be53-11eb-83db-5061a5d4d512.png)

Also tried adding Delegated but doesnt work. We do not add delegatedperms because is a service, is not run in behalf of a user and doesnt require user signon.

For the REST API I acquired

[2021-06-01 11:24] baywet opened #92 "Outlook file attachment APIs don't support casting"
the file attachment APIs do not support casting even though the collection maps to an abstract.
This limitation makes the filtering of the attachments by type more complex than it needs to be.
This limitation also prevents the SDK generation from generating fluent API paths that offer download of the attachments directly i.e :
[code]

[2021-06-02 09:51] jwissocq opened #93 "Graph JSON response seldom contains raw HTML"
When I send batch request made of calendar appointment request to Graph API, I seldom encounter a improper response from the API: some HTML are injected as is in the JSON response.
This is impossible to unserialize, so I cannot know which appointment had issues, and it leaves no choice but to reiterate the same calendar appointments batch, which poses performance issue.

The request to batch API l

[2021-06-03 22:14] dancampbell691 opened #110 "IDriveItemInviteRequestBuilder parameter expirationDateTime is defined as string; should be DateTimeOffset?"
### Expected behavior
in 3.33, the signature for IDriveItemInviteRequestBuilder  is as follows:
`IDriveItemInviteRequestBuilder Invite(IEnumerable<DriveRecipient> recipients, bool? requireSignIn = null, IEnumerable<string> roles = null, bool? sendInvitation = null, string message = null, **string expirationDateTime** = null, string password = null);
`

No string representation of a date seems to w

[2021-06-04 15:14] Lindvorn opened #103 "Drag&Drop attachment cannot be found and downloaded by attachmentItemId"
# Bug Report

## Prerequisites

-   [+] Can you reproduce the problem?
-   [+] Are you running the latest version?
-   [ ] Are you reporting to the correct repository?
-   [ ] Did you perform a cursory search?

## Description

We have an application that uses Graph api to get the attachments. Our users want to D&D attachment from https://outlook.live.com/ and download it to our application. When a

[2021-06-07 10:27] davidkarlsen commented on #37
@baywet Any update to this issue?

[2021-06-07 11:53] baywet commented on #37
@davidkarlsen thanks for the nudge. A bug has been logged with the team responsible back in march, and the incident closed. No activity since.
(for me: id div, id 1271046)

[2021-06-07 13:00] agonzalezm commented on #95
any update on this on how to fix or workaround?

[2021-06-07 14:44] Acrawford-Adesa opened #104 "Content file commit fails - Upload state is always commitFileFailed"
# Background
I am trying to create a script that will update an Intune app automatically as part of a continuous deployment pipeline. I have been replicating the steps found [here](https://github.com/microsoftgraph/powershell-intune-samples/tree/master/LOB_Application) so that they work in our environment.

# Issue
After calling
`deviceAppManagement/mobileApps/${application.id}/microsoft.graph.ios

[2021-06-08 08:46] andrueastman commented on #95
Hey @agonzalezm,
Apologies for the delayed response. I was running into similar issues as you.

When you go to the following link on azure what do you see as the tenant type of your tenant?
https://ms.portal.azure.com/#blade/Microsoft_AAD_IAM/DirectorySwitchBlade/subtitle/

Is it `Azure Active Directory B2C` or just `Azure Active Directory`?

If it not `Azure Active Directory B2C` I had to (upgrad

[2021-06-08 12:59] agonzalezm commented on #95
I see Azure Active Directory

Is this a bug and will be fixed? Why you need to upgrade to premium if the signins feature is included in my subscription too?

Doesnt make sense i can see signins in portal but not through api, is not consistent. All features should be available in both portal or api.

Microsoft announced that sigins report are available in all AD subscriptions, so it should be both

[2021-06-08 16:17] Ofer-Gal opened #100 ".expand('fields(select=ProjectNumber,FileLeafRef,DocumentType)') creates a faulty URL"
# Bug Report

## Prerequisites

-   [X] Can you reproduce the problem?
-   [x] Are you running the latest version?
-   [ ] Are you reporting to the correct repository?
-   [ ] Did you perform a cursory search?

## Description
with syntax like:
[code]
**Console Errors:** [Is there any console error]
`"Parsing OData Select and Expand failed: Term '(select=ProjectNumber,FileLeafRef,DocumentType)' is

[2021-06-08 16:59] andrueastman commented on #95
Hey @agonzalezm,

Apologies for any frustrations caused.
The SDK simply does the job of making the requests to the various APIs and acquires the token from the token endpoint. The SDK will not acquire the token in a separate/unique way based on your subscription info. Therefore, the SDK isn't the cause since changing the subscription causes the same call to work.

I'm not sure if this a bug/featur

[2021-06-09 00:10] nikithauc commented on #104
@Acrawford-Adesa
Can you please provide the following -
1. Code making the request calls to the Graph API using the Graph JS Library?
2. Response from the Graph API with the request ids.

[2021-06-09 12:05] Acrawford-Adesa commented on #104
I replaced any potentially secret fields in the responses with "fake".

**Create application**:
[code]
Response:
[code]
**Create content version**
[code]
Response:
[code]
**Add content file**
[code]
Response:
[code]
**Upload encrypted file**
[code]
**Wait for file processing and get storage url**
[code]
Response:
[code]
**Commit file encryption info**
[code]
Response:
[code]
**Wait till file is co

[2021-06-09 19:34] nikithauc commented on #100
@Ofer-Gal  Thanks for reporting this issue!
https://docs.microsoft.com/en-us/graph/query-parameters#odata-system-query-options

The SDK is appending the `$` sign as intended.
However, the bug that you reported seems be a outlier.

The workaround for this is to pass the URL that is working as a parameter to `.api()`

`client.api(<URLWithExpandQuery>).select()... `

[2021-06-09 19:38] nikithauc commented on #103
@Lindvorn  I am trying to get in touch with the Outlook team to find more about this issue.

Meanwhile, please post this question on Microsoft Q & A  - https://docs.microsoft.com/en-us/answers/index.html using `microsoft-graph` tag, StackOverflow.

[2021-06-09 23:22] Ofer-Gal commented on #100
What is "a outlier."?
I used the workaround too but why should we need workarounds? what are SDKs for? :-)

[2021-06-09 23:55] nikithauc commented on #100
The v1.0 Graph API expects a $ before a query option. That is why the SDK prepends a $ in the URL.

The outlier or the odd thing here  is that `expand` works but `$expand` errors out.

Therefore this issue needs more investigation.

The workaround is a tip which can help the users proceed and not have a blocker till the bug is resolved.

[2021-06-11 13:24] tjmoore opened #99 "ErrorDuplicateTransactionId after creating many events with same TransactionId"
For test purposes I have a tool that generates test data with hundreds of events across a large number of test room mailboxes. To make it easy to track the test events and delete them after I create them all with the same TransactionId.

This works fine for many events in same or different mailboxes with the same TransactionId, but then starts throwing a 400 Bad Request with `ErrorDuplicateTransac

[2021-06-14 18:43] MIchaelMainer commented on #100
That scenario doesn't appear to conform to OData standard. It should still support $. Queryparams without $ should be supported in 4.0.1

http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part2-url-conventions.html#sec_SystemQueryOptions

@ificator @JeremyKelley Can you take a look at this and let us know whether this is expected or not?

[2021-06-15 18:47] nikithauc commented on #104
@jaiprakashmb Can you please verify this issue?

[2021-06-16 11:41] MatthiasCloudOptimizer opened #106 "Creating a Team based on a M365 group no longer works."
We use the Graph REST API (v1.0) regularly for this and have the problem again and again temporarily for sometimes 2 to 3 hours.

But in our Production (Azure Function) for 14 days permanently now.

In my Visual Studio 2019 environment, it _occasionally_ works to create a Team when the function is run locally.

### Expected behavior
Creating a Team from a new M365 Group ([Example 4 - Documentation

[2021-06-16 18:47] davidkarlsen commented on #37
_and the incident closed_ - what does that mean? No fix will be released?

[2021-06-17 17:55] maisarissi commented on #122
Hi @abheek-das.
Can you help us with this issue? The SourceUrl parameter shouldn't be required in v1.0 as per current documentation and metadata.

[2021-06-18 16:08] taylancelebioglu opened #102 ""You have been added to a team in Microsoft Teams" info mails are not being sent when user added via Graph"
When guest user added to a group via MS Teams Client mails are being sent as usual before. If the user added via Graph API, information emails are not being sent for guests users anymore.

We have tried to add user either **/v1.0/teams/{team-id}/members** or **/groups/{group-id}/members/$ref** endpoint.

[code]

[2021-06-29 16:45] ificator commented on #100
The SPO API supports both prefixed and non-prefixed OData options - we did this prior to the introduction in the OData spec in 4.0.1 because we felt it was more natural to not require `$`. Unfortunately, that results in some weirdness in Microsoft Graph because they'll validate the `$` prefixed variants and pass the non-prefixed ones straight through to us. That validation will fail if Microsoft G

[2021-06-30 16:08] gmantri opened #109 "Unable to paginate through app role assignments for a user."
**Describe the bug**
I am trying to get app role assignments for a user. A user can be assigned many app roles and I want to implement some kind of pagination there. Let's say my user has 10 app role assignments and I want to fetch 5 app role assignments at a time. When I specify `$top` as `5`, I get the first 5 roles (which is correct) however I am expecting to get back `next page request` which

[2021-07-01 00:11] MIchaelMainer commented on #109
This is a service bug. I would've expected a nextlink in the response payload. It doesn't appear that paging is supported with this API. I used the PageIterator to test this.

[code]

[2021-07-01 00:27] gmantri commented on #109
@MIchaelMainer  - Thank you for looking into this. It is very much appreciated. Considering this is a service bug, do I need to report it someplace else as well? Should I keep this issue open? Please let me know.

Thanks

[2021-07-01 00:31] MIchaelMainer commented on #109
We'll keep this issue open. Thank you.

[2021-07-05 08:15] andrueastman commented on #110
Thanks for raising this issue @dancampbell691.

According to the metadata we use to generate the sdk [here](https://graph.microsoft.com/v1.0/$metadata), the property seems to be defined as String which is inconsistent with the docs [here](https://docs.microsoft.com/en-us/graph/api/driveitem-invite?view=graph-rest-1.0&tabs=http#request-body).

![image](https://user-images.githubusercontent.com/6464

[2021-07-06 21:51] jaiprakashmb commented on #104
@Acrawford-Adesa , From above thread details there seems to be issue in the way you are uploading the file. Above Response does indicates incorrect encryptedfile size  is being passed (75716656).

Ideally it should be
48 + 16*(Floor(75716629 / 16) + 1)  = 75716688
(HMAC hash + Initialization vector + AES CBC 256 encrypted content).

Also from code snippet you have share it is bit difficult to pin

[2021-07-07 13:44] loicviardcretat opened #108 "excel doesn't accept fully qualified function names"
Hello,

I'm making a request to the microsoft graph api to get an image of a graph in base64 :
[code]
The url obtained "https://graph.microsoft.com/v1.0/me/drive/items/"sheetId"/workbook/worksheets/"worksheetId"/charts/"chartId"/image" works well with postman but the request returned null on the Java side.

The result obtained with postman :
[code]

It is not a problem of bearer Token or something

[2021-07-07 18:10] andrueastman commented on #107
@BarryShehadeh Any chance you could shed some light on file name length limits on OneDrive?

[2021-07-07 19:01] BarryShehadeh commented on #107
@andrueastman Any file system (windows, mac, Linux) only allow up to 255 characters for each segment of a file path.

https://support.microsoft.com/en-us/office/restrictions-and-limitations-in-onedrive-and-sharepoint-64883a5d-228e-48f5-b3d2-eb39e07630fa#filenamepathlengths

However, I'm still able to call "https://graph.microsoft.com/v1.0/me/drive/root:/11111111111111111111111111111111111111111111

[2021-07-08 07:14] sirmrowa commented on #107
@BarryShehadeh @andrueastman

This is only true for **synced** files (i think that is the OneDrive app limit): "In addition to the above, if files are **synced** to a PC or Mac, the following limitations apply". This is not applicable for files to download.

From Windows 10 version 1607 this limit is about 32,767 characters.
https://docs.microsoft.com/en-us/windows/win32/fileio/maximum-file-path-l

[2021-07-08 12:54] baywet commented on #108
Salut @loicviardcretat ,
Thanks for reaching out.

Just to make sure we're taking about the same things, I believe the URL you are referring to `https://graph.microsoft.com/v1.0/me/drive/items/{driveItemId}/workbook/worksheets/{sheetId}/charts/{chartId}/image` translate to

[code]

Which can be shortened to

[code]

Anytime you have a REST request, you can try it out in [the graph explorer](https:

[2021-07-08 14:46] loicviardcretat commented on #108
Thanks @baywet for your answer but you didn't answer my question very well, let me explain

I executed my request with a url in the graph explorer but it returns an "itemNotFound".
The problem is that I don't understand why in graphExplorer I get an "itemNotfound", in my Java code a "null" and in postman the image in base64...

I forgot to mention that I changed in the source code the .image() fun

[2021-07-08 15:24] baywet commented on #108
Oh I see! I didn't understand you were implying the URL generated by the SDK was incorrect.

This path segment is an OData function, without getting too much in OData details, and according to its conventions, the SDK is supposed to use the full name (namespace name + function name) when calling the service.
It is "right" for the SDK to call the service using `microsoft.graph.image` instead of `im

[2021-07-09 07:44] loicviardcretat commented on #108
Hi @baywet
I am coming back to you following your last answer.
I have edited my code according to your advice (java language) :
[code]

The url of "request" contains well 'microsoft.graph.image' and it is well replaced by 'image' in "imageRequest".
Except that `imageRequest.get()` returns `null`...

Concerning graphExplorer, the query I get in the Java code does return data.
Always the same reques

[2021-07-09 07:50] loicviardcretat commented on #108
If I remove the part of the code that changes the "microsoft.graph.image" to "image", the request returns "Bad Request"

[2021-07-09 12:26] baywet commented on #108
The fact that you have `IWorkbookChartImageRequest` in your sample leads me to think you're not on latest.
Can you double check your app is on the 4.0.0 version of the library and 2.0.7 of the core library please?
Thanks

[2021-07-16 07:46] andrueastman commented on #110
It looks like this is mainly a service issue. According to the following links, the API does not currently support the `expirationDateTime` parameter at the moment.

- https://docs.microsoft.com/en-us/answers/questions/477533/unable-to-make-a-request-to-send-a-sharing-invitat.html
- https://github.com/microsoftgraph/microsoft-graph-docs/issues/8820

[2021-07-21 15:11] mmertens93 opened #112 "Sending messages with MIME content using the SDK fails"
Hey!

According to the Graph API documentation it is possible to [send messages with MIME content](https://docs.microsoft.com/en-us/graph/outlook-send-mime-message). We were able to successfully send a MIME messages with direct HTTP calls using Postman.

![grafik](https://user-images.githubusercontent.com/27767497/126509178-e137d008-e405-44b6-b7df-7065474954d5.png)

However, we fail to send MIME m

[2021-07-22 11:48] barclayadam opened #111 "Loading photos for some tenants throws "ProfileStorageUnexpectedException""
**Describe the bug**
For a number of tenants we have connected to through an Azure App Registration we are consistently experiencing a "ProfileStorageUnexpectedException" being thrown when loading photos (in a batch).

I cannot find any information about what that actually means.

**To Reproduce**
Create a photo load batch:

[code]

Load a response from that batch:

[code]

The above line of code

[2021-07-23 08:31] andrueastman commented on #111
@barclayadam Thanks for raising this issue. Any chance you can provide more information about the issue?

Was the code working before and the issue started recently? Also, just to confirm, is the issue limited to a specific number of tenants while other tenants are okay?

[2021-07-23 15:15] barclayadam commented on #111
Hi @andrueastman

We only have a handful of customers using the app. This is an issue that we have noticed in recent weeks, but have never seen it before when testing our integration.

Hard to say how long the issue has been around for as the tenants we have tested with have never, and still do not, show the issue. Most new tenants also do not show the issue.

We have seen in some instances what a

[2021-07-26 06:58] andrueastman commented on #111
@barclayadam,
Thanks for extra information!
From the logs, it seems some of the photo requests return as expected with a 200 response or 404 response but one has the unexpected response from the API end.

I have now raised this with the relevant workload team [here](https://portal.microsofticm.com/imp/v3/incidents/details/252487936/home) to investigate and will update the issue here once I get fee

[2021-07-26 22:27] ramsessanchez commented on #112
Hi, sorry for the very delayed response. It seems you were on the right track in creating a custom request, we currently don't have a sendMail action which supports plain-text MIME content. I suggest trying this workaround in the meantime:

`new CustomRequestBuilder(graphClient.me().sendMail(UserSendMailParameterSet.newBuilder().withMessage(new Message()).withSaveToSentItems(false).build()).buildR

[2021-07-27 20:43] baywet commented on #44
@MIchaelMainer we're having [similar discussions on the java side](https://github.com/microsoftgraph/msgraph-sdk-java/issues/349). What happened after you reached out to the service team? Did they agree to fix the missing metadata?

[2021-07-27 20:50] MIchaelMainer commented on #44
@baywet It looks like nothing happened. I'm going to try them again. Will include you for visibility. This issue also exists for **resourceProvisioningOptions**.

[2021-07-28 05:47] mmertens93 commented on #112
Thank you for your response. We have tried to apply the workaround as follows:

[code]

We are getting the same error:
[code]

Again the SDK Client is wrapping the mime message into double quotes. When we copy paste that mime message from the debug log into Postman and remove the double-quotes, the Server returns a 202 Accepted.
However, when executing the request with the double-quotes in the req

[2021-07-28 09:05] mmertens93 commented on #112
After some debugging we found out that this is the culprit:
![grafik](https://user-images.githubusercontent.com/27767497/127295488-c25117fb-1751-45bb-8ca2-cd2fc58c7ba0.png)

This screenshot is taken from the class "com.microsoft.graph.serializer.DefaultSerializer.java". When serializing the body with gson, additional double-quotes are introduced.

[2021-08-05 20:56] #112 closed, assigned to ramsessanchez

[2021-08-12 12:16] baywet commented on #37
Hey @davidkarlsen
Thanks for your patience. I finally heard from the service team, they put together a fix for that. I don't have an ETA for availability on the public cloud, but I'm trying to get that information as well.

[2021-09-01 05:14] AkJo commented on #64
This issue seems to be really old. I am not sure if this is applicable any more. The schema for chatMessageMention type and associated types is:

[code]

All of these are documented in both beta and v1.

[2021-09-01 06:20] andrueastman commented on #64
Thanks @AkJo!

Closing this for now as the types are already available in the latest v1.0 SDK versions

[ChatMessageMention](https://github.com/microsoftgraph/msgraph-sdk-dotnet/blob/dev/src/Microsoft.Graph/Generated/model/ChatMessageMention.cs)
[ChatMessageMentionedIdentitySet](https://github.com/microsoftgraph/msgraph-sdk-dotnet/blob/dev/src/Microsoft.Graph/Generated/model/ChatMessageMentionedId

[2021-09-01 06:20] #64 closed, assigned to nobody

[2021-09-10 15:38] Hipster74 opened #113 "[QUERY] Trying to receive "deviceCompliancePolicySettingState" objects"
**Query/Question**
Trying to receive "deviceCompliancePolicySettingState" objects from Graph Api but receives nothing.

[https://docs.microsoft.com/en-us/graph/api/resources/intune-deviceconfig-devicecompliancepolicysettingstate?view=graph-rest-1.0](url)

Works perfectly when doing it with powershell and plain Invoke-Restmethod to this example URL:

`https://graph.microsoft.com/1.0/deviceManagemen

[2021-09-13 05:39] andrueastman commented on #113
Hey @Hipster74,

Thanks for raising this issue.

The code snippet you mentionedbelow actually ends up making the request to
https://graph.microsoft.com/1.0/deviceManagement/managedDevices/$($device.id)/deviceCompliancePolicyStates/
and not
https://graph.microsoft.com/1.0/deviceManagement/managedDevices/$($device.id)/deviceCompliancePolicyStates/$($pol.id)/settingStates

[code]

Are you able to obt

[2021-09-13 08:31] Hipster74 commented on #113
Hi!

Tried this:

[code]
Gives me:

`No method match route template[2021-09-13T08:03:58.933Z] Message: No OData route exists that match template ~/singleton/navigation/key/navigation/key with http verb GET for request /DeviceConfiguration_2108/StatelessDeviceConfigurationFEService/deviceManagement/managedDevices('69efgt24-41e5-4803-a0aa-c6906cd7c796')/deviceCompliancePolicyStates('09cdfghy-f1d0-44

[2021-09-13 09:25] andrueastman commented on #113
Hey @Hipster74,

Maybe this could help out to make the request in the same way that works for you.

[code]
Are you also able to share the link to the documentation which helped you find how to make the original request? The link you provided earlier, does not suggest how the request to fetch the states should be done.
Ideally the sample below should work as `settingStates` is a property inside the

[2021-09-14 06:43] Hipster74 commented on #113
Hi again.

Tried this(changed IEnumerable type to `DeviceCompliancePolicySettingState` since that should be the returned type I assume). Also tried with `DeviceComplianceSettingState` as you had in your original example, but same result.
[code]
Got this:
[code]

I don't have documentation for the endpoint used when running this in powershell, I think that URL comes from the Azure portal and using

[2021-09-14 06:58] andrueastman commented on #113
Yeah. That would be case but we would first need to confirm what the response from the API is to narrow down if the issue occurs in the SDK or it is something that needs to be fixed from the API. Since you are getting an empty collection from the SDK it means that the API is not really returning anything for the collection.

Are you able to try building the request on [Graph Explorer](https://deve

[2021-09-14 07:48] Hipster74 commented on #113
Tried it in insomnia since I was unable to use my client credentials in graph explorer(token set in authorization header), but this example URL gave me an error:

`https://graph.microsoft.com/v1.0/deviceManagement/managedDevices/f6056jf7-e735-r745-91cf-b3ac56df234c/deviceCompliancePolicyStates/b3523b5-0404-441a-93b0-3191f6773aea?$select=settingStates`

[code]

This on the other hand worked(as expe

[2021-09-15 09:32] andrueastman commented on #113
Thanks for getting back with this @Hipster74

https://graph.microsoft.com/v1.0/deviceManagement/managedDevices/f6056jf7-e735-r745-91cf-b3ac56df234c/deviceCompliancePolicyStates/b3523b5-0404-441a-93b0-3191f6773aea?$select=settingStates

We will need to raise this with the relevant API team to get further guidance on whether this is expected.

https://graph.microsoft.com/v1.0/deviceManagement/manage

[2021-09-15 13:00] Hipster74 commented on #113
Ok @andrueastman , thank you for the update and the workaround, you been most helpful so far, appreciate it.

[2021-09-27 11:22] baywet commented on #37
Hi @davidkarlsen ,
The service team has confirmed to me the deployment of the fix is completed to all pubic clouds.
Thanks again for your patience on that matter!
Closing

[2021-09-27 11:22] #37 closed, assigned to nobody

[2021-09-27 11:38] davidkarlsen commented on #37
Yay, thanks for reminding me... :-)

[2021-10-05 09:26] barclayadam commented on #111
@andrueastman do you have any updates for this issue please?

[2021-10-05 09:42] andrueastman commented on #111
Hey @barclayadam,

Thanks for reaching out again.
Just to confirm are you still able to replicate this on your end?

If so, can you share the new request-id for this as the logs do expire so that I can follow up this up for you again.

[2021-10-05 09:53] barclayadam commented on #111
Thank you @andrueastman for quick response.

A few request-id samples from requests that are failing to load user photos are below. It is saying the Code is "UnknownError", so not sure if the same problem as above or not now (we log these differently to stop them crashing the process) but it is happening in the same place. And whether same issue or not, we are seeing a lot of these errors when loa

[2021-10-05 09:56] barclayadam commented on #111
In addition to above, we also have many of a different class of error when loading photos:

[code]

Again, some request-ids:

  `4f418a54-b554-4d1c-aa81-d805bb60d708`
  `8b9549f8-d0a8-42bd-99e9-9342831023d8`

[2021-10-09 16:19] Luunk commented on #30
Any updates on this? It´s quite annoying trying to automate when the filesfolder is not created when creating a new channel, unless a user is trying to access the file area.

[2021-10-14 11:49] ayushiaks opened #114 "Null Reference Error Message with OnlineMeetings APIs"
Hi, I've been trying to use APIs defined for getting online meeting information, which end up with this error:
`
{
    "error": {
        "code": "InternalServerError",
        "message": "Object reference not set to an instance of an object.",
        "innerError": {
            "date": "2021-10-14T07:10:16",
            "request-id": "74757b15-1444-4729-bce6-e689cfc0cfa9",
            "client-re

[2021-10-14 13:04] andrueastman commented on #114
Hey @ayushiaks,

Thanks for raising this issue.

Are you able to replicate this issue using Graph Explorer?

[2021-10-14 17:00] ayushiaks commented on #114
Yes, I've tried the same on Graph Explorer as well, I was able to reproduce it there.

[2021-10-18 05:55] andrueastman commented on #114
Thanks for confirming this @ayushiaks.

I have raised this with the relevant workload team [here ](https://portal.microsofticm.com/imp/v3/incidents/details/267388845/home)and will update this issue with any feedback given.

[2021-10-18 10:56] rvicoqbi commented on #74
Any update on this issue @MIchaelMainer? This is generating us a lot of problems in our integration with the Graph API. We'd like to know if you have in mind a fix in a short period of time. Otherwise, we'll try to implement the solution in some other way.

Thanks in advance.

[2021-10-19 05:21] andrueastman commented on #111
Hey @barclayadam,

The feedback given is that the errors experienced are transient and should be resolved now. Are you able to confirm if you are still experiencing this? Is so, is this at high frequency?

[2021-10-20 11:57] rubens-farias opened #115 "Listing eDiscovery case operations returns an error"
Microsoft.Graph.Beta 4.17.0-preview.

[code]
Result
[code]

[2021-10-21 02:54] fhlbdvt opened #116 "Got error when call to set photo for given user"
When using Microsoft.Graph.Beta version 4.14.0-preview to update a user photo, got the following error:

[code]

[code]

and call to get user is successful:
[code]

[2021-10-21 06:26] andrueastman commented on #115
Thanks for raising this issue @rubens-farias,

The call should ideally work as it seems that `operations` is listed as a navigation property in the metadata.
![image](https://user-images.githubusercontent.com/6464005/138222535-827cc863-f6b5-43fb-85d2-d6c6c5f50e9f.png)

@mahage-msft, any chance you can confirm if this is indeed the intended API behavior?

[2021-10-21 20:30] mahage-msft commented on #115
Thanks for calling this out. Fetching all operations is not supported/implemented yet, however, you can retrieve individual operations using /operation["operationId"]. I'll file a bug internally to decorate the list operation as not implemented.

[2021-10-27 08:08] andrueastman commented on #116
Hey @fhlbdvt,

Thanks for raising this issue.
Is the user you are trying to set the photo a newly created user?

[2021-10-27 12:31] barclayadam commented on #111
@andrueastman We are still seeing these issues on a relatively common basis. Some examples:

`7160a4e8-a82c-4c6f-a715-7ff1cab81a92` -> "AadGraphCallFailed: Accessing service failed."
`4d1a05b3-a041-4823-a6bb-226eef78f23f` -> "UnknownError"
`3b55a0a1-351a-4135-baf3-7a048e1cfa86` -> "AadGraphCallFailed: Accessing service failed."

Those are 3 from today. We get a relatively large number of these iss

[2021-10-28 03:47] fhlbdvt commented on #116
No, it is not a newly created user.

[2021-11-02 12:14] andrueastman commented on #116
We've raised this with the relevant API team [here ](https://portal.microsofticm.com/imp/v3/incidents/details/270099742/home) and will revert with any feedback received.

[2021-11-03 05:17] andrueastman commented on #116
Hey @fhlbdvt,

Any chance you are still able to replicate this error? The team wishes to confirm if its transient and it would be great if you could share the error response as you did [above](https://github.com/microsoftgraph/msgraph-sdk-serviceissues/issues/116#issue-1042274102).

[2021-11-05 03:57] fhlbdvt commented on #116
I'll try to reproduce and post the result here.

[2021-11-08 17:41] fhlbdvt commented on #116
Got the same error:

[code]

[2021-11-15 21:23] bdukes commented on #116
I'm seeing the same issue, also not for newly created users. These are Azure AD B2C users, if that matters. I've switched to the beta API to see if that affected things, but it doesn't appear to.  Here's the calling code:

[code]

And here's the error response:
[code]

[2021-12-09 17:16] barclayadam opened #117 "Cannot rely on expanding memberOf of a user"
We import users, groups and group memberships to replicate the structure of customer's AAD tenants. We load users using the `/users` api endpoint, and in addition to providing the properties to `$select`, we also `$expand` `memberOf`.

The problem we are observing is for some users in some tenants (we have been completely unable to determine the pattern for _what_ users) the expanded list is less

[2021-12-20 17:04] fhlbdvt commented on #116
Are there any updates on this issue?

[2021-12-21 13:15] MHamza8070 opened #118 "Facings issues in fetching Multiple users Subscription for Presence MS Graph API (For Microsoft Teams)"
I am using MS Graph API for fetching the user's presences, now i am stuck at fetching multiple subscriptions. e.g. If i have 10 users in my teams tenant, i want to get subscriptions for their presences, so that when someone's presence changed i will get a subscription. The method i am using is working fine for single user. When i give single user id in resources, subscription works fine but for mu

[2021-12-22 07:28] #118 closed, assigned to nobody

[2021-12-29 17:01] habex-ch commented on #30
@MIchaelMainer Any news on this issue

[2022-01-13 14:38] rlodev67 opened #125 "Upload file using upload session break some content"
Hi everyone,
**Describe the bug**
I'm trying to upload file bigger than 4MB using the CreateUploadSession method coming from another sharepoint tenant.
When i'm downloading the content of the file and upload it to the other tenant the target file size changed and the QuickXorHash value too.
If i'm testing the same thing with a file smaller than 4MB, I'm able to reproduce it. (File always miss 11 b

[2022-01-14 08:43] dusan-g opened #119 "Directory roles - different results for display name when called with delta"
Hello,

we are using this endpoint to get directory roles delta - https://graph.microsoft.com/v1.0/directoryRoles/delta?$deltatoken=[DIRECTORYROLEDELTATOKEN] There seems to be a bug in this graph call, as in "displayName" it returns "Company Administrator" instead of "Global Administrator" for most of the tenants.

When we call this endpoint https://graph.microsoft.com/v1.0/directoryRoles with the

[2022-01-20 13:27] andrueastman commented on #125
Hey @rlodev67,

Thanks for raising this.

When you download the file, is it already smaller than expected? Or do you download the file again after uploading and compare it with the hash of the original download?

[2022-01-20 13:45] rlodev67 commented on #125
Hey,

when I download the file from the originial tenant, the file size is correct.
after the upload, when I download the file, the file is smaler and if I compare the hash between the source file and the target file, the hash is different.

[2022-01-24 07:22] andrueastman commented on #125
Thanks for the extra information @rlodev67,

As this seems to be API related from your query, are you able to also post the same query on the Microsoft Graph Q/A (link below) site so that we may get input from the relevant API owners?
It would be great if you could post back the link to the question in this issue as well so that it may help others find the information we get from them.

https://do

[2022-01-24 09:08] rlodev67 commented on #125
Thanks @andrueastman ,

I will update this issue as soon as I have an answer :)
If someone would like to follow it : https://docs.microsoft.com/en-us/answers/questions/707056/upload-file-using-upload-session-break-some-conten.html

[2022-01-26 10:45] Geolonmi opened #121 "Reset guests' redemption status"
**Describe the bug**

I've been trying to change guests' connection email using the following [documentation](https://docs.microsoft.com/en-us/azure/active-directory/external-identities/reset-redemption-status)

Unfortunately, when I do, I get the following error :
`Code: BadRequest Message: The email you’re using to invite this user doesn’t match any emails on the user object. Please add this ema

[2022-01-28 08:56] pragatiagrawal97 opened #120 "Type of Location column in SharePoint site Generic list"
I had created a column in sharepoint site generic list of type Location and when i tried to get data of that column using graph api i didn't get and type set for that column.

I want the type of the Location column when I fire the query in Graph Explorer for getting the column details.

I tried with different Graph api versions

Reqested URL
https://graph.microsoft.com/v1.0/sites/{Site-id}/lists/{

[2022-01-31 23:41] zengin commented on #120
This is a service issue, not specific to .NET SDK, so transferring to service issues repo.

[2022-02-01 01:44] zengin commented on #121
I have tried to reproduce this. When I assigned `new-email` to an email address from the tenants domain, I got back:

`This user cannot be invited because the domain of the user's email address is a verified domain of this directory.`

Then I changed `new-email` to an external email address. I got the error: `Code: BadRequest Message: The email you’re using to invite this user doesn’t match any em

[2022-02-01 04:33] JakeMoe opened #123 "Update-MgUser -MobilePhone failing with "insufficient privileges to perform this operation""
When running "Update-MgUser -UserId <userid> -MobilePhone <phoneNumber>" in Azure Automation using service principal + certificate, I'm getting "Insufficient privileges to complete the operation". If run Connect-MgGraph with the User.ReadWrite.All scope and use my admin account it works fine.

I've added code to my runbook to list the scopes from Get-MgContext, and it shows I have User.ReadWrite.A

[2022-02-01 09:06] Geolonmi commented on #121
Thank's for your answer

You're right, if I do 'Get User' right after setting the new email, the mail property is not set with the newly updated email (I still get the 'old email').

If I wait until the API give me the updated email address, then I can send the invitation without getting the error.

The thing is the time between setting the new email and getting it from the API seems to be variabl

[2022-02-02 21:00] sassdawe commented on #123
I faced the same with the standard `AzureAD` module, and just decided to leave the `MobilePhone` property out when I get an Insufficient privileges error.

In my case I can update standard users, but I cannot change privileged users.

[2022-02-02 22:52] JakeMoe commented on #123
@sassdawe I did find a reference in the [Microsoft Graph API Users --> Update reference](https://docs.microsoft.com/en-au/graph/api/user-update?view=graph-rest-1.0&tabs=http#permissions) that seemed to say extra permissions are needed to be able to update privileged accounts, but it seems to say User.ReadWrite.All should be sufficient for normal users.

The privileged accounts seem to be admins an

[2022-02-08 09:05] Geolonmi commented on #121
Could it be related to the activation of the `Enterprise Mobility + Security E5` trial on my tenant ?

I'm getting a lot of 'object not found' when trying to get object I just created

[2022-02-17 07:33] zengin commented on #121
@Geolonmi, please refer to https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/active-directory-architecture#data-consistency for data consistency guarantees of the AAD infrastructure. There is a logical session to keep calls consistent, but rerouting of subsequent calls to different data centers is still a possibility.

[2022-02-22 16:47] peombwa commented on #123
@JakeMoe, please open support ticket/question/feature request at https://developer.microsoft.com/en-us/graph/support to get assistance on this from workload team. The SDK is simply a pass through to the service.

[2022-02-22 16:47] #123 closed, assigned to nobody

[2022-04-10 09:10] Grovespaz commented on #44
Hello @MIchaelMainer, is there an update available on this? I was surprised to see fields in use but not in metadata (nor properly available in the API) for 2.5 years.

[2022-04-11 04:47] MIchaelMainer commented on #44
@Grovespaz I'm sorry to say that I've notified the owners of the missing metadata on and still haven't seen the fix be made.

[2022-04-15 14:52] Grovespaz commented on #44
Hi @MIchaelMainer, thanks for your response. Is there a public issue I can track upstream? Or perhaps a place I can create one?

[2022-04-28 07:38] pragatiagrawal97 opened #124 "Office 365 graph api /sites/search does not return all sites"
I am using the following query to fetch all the sites and subsites under a certain Domain,
                      "https://graph.microsoft.com/v1.0/sites?search=*"

I am getting the response i.e. Site and SubSite Collection,
but in that response all the sites under that domain are not getting fetch/retrive in one attempt and also I am getting duplicate result which I already got in previous respons

[2022-04-29 06:08] kafka-yu commented on #46
Hi Team,

any update on this? We meet same issues like above #1 #2.

[2022-05-03 21:48] maisarissi commented on #115
For visibility @SeunginLyu

[2022-05-26 08:27] pragatiagrawal97 opened #126 "Getting Exception as: requested api is not supported in application-only context"
Hi,

I want to post the messages in chat, for that firstly I have created chat and then by using chat Id  I list out the messages from that chat and now trying to post that message in chat using call

I tried with both the version i.e. beta and v1.0
POST  https://graph.microsoft.com/beta/users/{user-id}/chats/{chat-id}/messages

but getting below exception
error
{
          Code: PreconditionFaile

[2022-05-31 22:07] zengin commented on #126
App-only access is only supported in migration mode as documented here: https://docs.microsoft.com/en-us/microsoftteams/platform/graph-api/import-messages/import-external-messages-to-teams

That is only supported while posting into a channel:
https://docs.microsoft.com/en-us/graph/api/chatmessage-post?view=graph-rest-1.0&tabs=http#permissions-for-channel
<html>
<body>
<h3 id="permissions-for-chann

[2022-06-01 08:15] pragatiagrawal97 commented on #126
can it be possible using application permission as we are using only application permissions in our product for getting response from graph api, can you please help me to know when the application permission will be supported for Chat Message.

[2022-07-20 21:14] 4at-nk opened #127 "OneNote page create/update request size limit"
Hello!
According to the first item of [limitations](https://docs.microsoft.com/en-us/graph/onenote-images-files#size-limitations-for-post-pages-requests) we can't upload files bigger than 4 Mb to OneNote page via [create](https://docs.microsoft.com/en-us/graph/api/section-post-pages?view=graph-rest-1.0#example) or [update](https://docs.microsoft.com/en-us/graph/onenote-update-page#multipart-reques

[2022-07-21 20:44] alannnc commented on #93
It's been a year for this, did you find any workaround? @Deymoun

[2022-07-25 14:32] jwissocq commented on #93
All I could do is after the json parsing error happens, I restart the same request a second later like for the throttle case.

[2022-08-04 12:13] aaukhatov commented on #127
@yinaa @darrelmiller @calebkiage @zengin

[2022-08-15 07:20] lesca opened #128 "Get-MgUserMemberOf -Filter not working"
This `Get-MgUserMemberOf` command not working with `-Filter` parameter
[code]
The error message:
[code]

However, this should be [supported as described in doc](https://docs.microsoft.com/en-us/graph/api/user-list-memberof?view=graph-rest-1.0&tabs=http#request-4):
[code]

Update: SDK Version

[code]

[2022-08-22 18:32] timayabi2020 commented on #128
@lesca Thanks for identifying this issue. This is indeed a service issue, since the document indicates that there is support for the filtering feature, but the response is different from the expectation.
Kindly open a ticket [here](https://developer.microsoft.com/en-us/graph/support) if you have a subscription, otherwise you can ask a question so that the workload owners can respond.

[2022-09-06 16:18] #128 closed, assigned to nobody

[2022-09-08 19:33] jansohn commented on #41
It took a while but this has been fixed in the meantime after I opened a support ticket.

[2022-09-08 19:33] #41 closed, assigned to nobody

[2022-09-10 17:45] jeffcolabs1 opened #129 "Mail Enabled Groups NOT Security Groups"
# Mail Enabled Always True

## Description

When creating a NON security enabled group and setting mailEnabled=false.   The mailEnabled field is ignored and the mailEnabled flag is always set to true.   If you attempt to patch the group with mailEnabled=false the response is '204' but the field is again ignored.

1. Create Group:  description: 'Description', displayName: 'Display Name', groupTypes

[2022-09-13 16:42] JustMeUT99 commented on #129
I'd like to add a bit more context if it may help in diagnosing the problem.

I'm currently in the process of automating a template copy program that adds the members, owners and task assignments.

If I set the attribute mailEnabled=false and ignore the returned result mailEnabled=true and make the assignments (in testing to myself) .  I do not get any emails that a task was assigned to me as I no

[2022-09-15 13:18] baywet commented on #44
Also impacted https://github.com/microsoftgraph/msgraph-metadata/issues/195

[2022-10-07 20:45] EmilySamantha80 opened #130 "$filter not working on Sites endpoints"
I'm attempting to get a list of drives in v2.0.0 RC9 for a given site so I can figure out what the drive ID is for a given document library in order to list the files that it contains.

The closest I've gotten is getting the drive info for a site that I'm then unable to access:

[code]

This will fetch the list of drives that I can see using var_dump, but I don't know how to access them by name wi

[2022-10-18 06:46] Ndiritu commented on #130
@EmilySamantha80 you should be able to use the `$filter` query parameter, but this seems to be a bug on the API side.
[code]

Re-routing to service team.

[2022-10-26 03:38] nikithauc commented on #129
@jeffcolabs1 I believe you cannot change the value of `mailEnable` to false from true. This is a bug in the service that you are getting a 204 instead of an error.

[2022-10-26 17:26] JustMeUT99 commented on #129
@nikithauc In our SPA when I create the group with mailEnabled = false programmatically, then create the plan / buckets / tasks etc.  If I follow that routine in when creating a plan from a template I do successfully create a group where  email notifications are not sent when the tasks are assigned.   So the flag does appear to work as expected in this situation.   If I attempt to set to true afte

[2022-10-29 23:29] benbitrise commented on #104
@jaiprakashmb thank you for your comment on this thread. I am experiencing the same error as the original poster (`commitFileFailed`). I am attempting to follow the [powershell sample code](https://github.com/microsoftgraph/powershell-intune-samples/blob/master/LOB_Application/Application_LOB_Add.ps1). I must re-write this in Js to run in a CI/CD environment that doesn't support powershell.

Below